Repository boostcampwm-2022/web21-devrank, changes with the labels that .github/labeler.yml gives for each.
All labels: :gear: backend, :art: frontend

.github/labeler.yml:

':gear: backend':
- any: ['backend/**/*']

':art: frontend':
- any: ['frontend/**/*']

feat: 500 error 페이지 관련 국제화 스크립트 작성
  frontend/public/locales/en/500.json
  frontend/public/locales/en/meta.json
  frontend/public/locales/ko/500.json
  frontend/public/locales/ko/meta.json
Labels: :art: frontend

feat: 500 custom error 페이지 구현
  frontend/src/pages/_error.tsx
Labels: :art: frontend

fix: 오타 수정
  frontend/public/locales/ko/500.json
Labels: :art: frontend

refactor: LanguageRanking 컴포넌트 Body 로 감싸기
  frontend/src/components/Ranking/LanguageRanking/index.tsx
Labels: :art: frontend

refactor: OverallRanking 컴포넌트 Body 로 감싸기
  frontend/src/components/Ranking/OverallRanking/index.tsx
Labels: :art: frontend

refactor:RisingRanking 컴포넌트 Body 로 감싸기
  frontend/src/components/Ranking/RisingRanking/index.tsx
Labels: :art: frontend

refactor: ViewRanking 컴포넌트 Body 로 감싸기
  frontend/src/components/Ranking/ViewsRanking/index.tsx
Labels: :art: frontend

refactor: 랭킹페이지 랭킹 컴포넌트 Body 로 감싸기
  frontend/src/pages/ranking.tsx
Labels: :art: frontend

feat: Body 컴포넌트 추가
  frontend/src/components/Ranking/RankingTable/index.tsx
Labels: :art: frontend

refactor: numberCompactFormatter 함수 이름 변경
  frontend/src/utils/utils.ts
Labels: :art: frontend

refactor: getCompactNumber 함수 적용
  frontend/src/components/Profile/PinnedRepository/index.tsx
  frontend/src/components/Ranking/RisingRanking/index.tsx
Labels: :art: frontend

feat: getMonthLabel 함수 추가
  frontend/src/utils/utils.ts
Labels: :art: frontend

refactor: getMonthLabel 함수 적용
  frontend/src/components/Profile/CommitHistory/index.tsx
Labels: :art: frontend

remove: MONTH_LABEL_MAPPING 상수 제거
  frontend/src/utils/constants.ts
Labels: :art: frontend

feat: header 세팅
  frontend/src/utils/wrapper.ts
Labels: :art: frontend

refactor: cube image size
  frontend/next-sitemap.config.js
  frontend/public/icons/cube/cube-small-all.svg
  frontend/public/icons/cube/cube-small-mint.svg
  frontend/public/icons/cube/cube-small-orange.svg
Labels: :art: frontend

feat: nginx 설정에 2중으로 프록시되는 IP를 꺼내기
  infra/nginx/default.conf
Labels: none

refactor: update 요청에 경우 err 전달하기
  frontend/src/utils/axiosInstance.ts
Labels: :art: frontend

feat: update 함수 에러 핸들링 추가
  frontend/src/pages/profile/[username].tsx
Labels: :art: frontend

fix: useInterval 비활성 상태시 동작 블로킹
  frontend/src/components/Profile/ProfileRefreshButton/index.tsx
  frontend/src/hooks/useInterval.ts
Labels: :art: frontend

chore: .gitignore storybook-static 추가
  .gitignore
Labels: none

refactor: callback 함수 useCallback으로 메모이제이션
  frontend/src/components/Profile/ProfileRefreshButton/index.tsx
Labels: :art: frontend

refactor: useInterval 수정
  frontend/src/hooks/useInterval.ts
Labels: :art: frontend

fix: fork 레포의 commit 점수 산정을 5년으로 제한
  backend/libs/consts/index.ts
  backend/src/user/utils/query.ts
Labels: :gear: backend

fix: fork commit limit 5years
  backend/src/user/utils/query.ts
Labels: :gear: backend

remove: directory backend/infra
  backend/infra/backend-deploy.sh
  backend/infra/docker-compose.yml
  backend/infra/frontend-deploy.sh
Labels: :gear: backend

docs: 배포를 위한 README.md 업데이트
  infra/README.md
  infra/nginx/default.conf
Labels: none

docs: 배포를 위한 README.md 업데이트
  infra/README.md
Labels: none

Update README.md
  infra/README.md
Labels: none

add: renew.sh - for ssl certificate
  infra/renew.sh
Labels: none

Update README.md
  README.md
Labels: none
