Repository boostcampwm-2022/web21-devrank, changes with the labels that .github/labeler.yml gives for each.
All labels: :gear: backend, :art: frontend

.github/labeler.yml:

':gear: backend':
- any: ['backend/**/*']

':art: frontend':
- any: ['frontend/**/*']

feat: rank 캐시 delete 메소드 추가
  backend/src/user/user.repository.ts
Labels: :gear: backend

feat: user update시 캐시 업데이트 로직 추가
  backend/src/user/user.service.ts
Labels: :gear: backend

fix: Correct typo 'continuos' to 'continuous'
  backend/src/user/dto/history.dto.ts
  backend/src/user/user.service.ts
  frontend/src/pages/profile/[username].tsx
  frontend/src/type/common.ts
Labels: :gear: backend, :art: frontend

fix: Correct typo 'calucate' to 'calculate'
  frontend/public/locales/en/about.json
  frontend/public/locales/ko/about.json
  frontend/src/pages/about.tsx
Labels: :art: frontend

feat: score history 타입 추가
  frontend/src/type/common.ts
  frontend/src/type/response.ts
Labels: :art: frontend

feat: logout에 auth 헤더 제거 로직 추가
  frontend/src/apis/auth.ts
Labels: :art: frontend

feat: 자기 계정일 시 간격 텀 없앰
  frontend/src/components/Profile/ProfileCard/index.tsx
  frontend/src/components/Profile/ProfileRefreshButton/index.tsx
  frontend/src/pages/profile/[username].tsx
Labels: :art: frontend

fix: instance 헤더에 auth 추가
  frontend/src/utils/axiosInstance.ts
Labels: :art: frontend

feat: score history를 차트데이터로 변경하는 유틸함수 구현
  frontend/src/components/Profile/ContributionStatistic/index.tsx
  frontend/src/pages/profile/[username].tsx
  frontend/src/utils/utils.ts
Labels: :art: frontend

feat: 등급커트라인 상수 추가
  frontend/src/utils/constants.ts
Labels: :art: frontend

feat: 라인차트 최소 최대 값 반환 유틸함수 구현
  frontend/src/utils/utils.ts
Labels: :art: frontend

feat: score history 라인차트 표시
  frontend/src/components/Chart/LineChart.tsx
  frontend/src/components/Profile/ContributionStatistic/index.tsx
Labels: :art: frontend

refactor: 프로필 페이지 requestRefreshToken 메서드 추가
  frontend/src/pages/profile/[username].tsx
  frontend/src/utils/axiosInstance.ts
Labels: :art: frontend

refactor: 차트 컴포넌트 폴더 구조 수정
  frontend/src/components/Chart/LineChart/index.tsx
  frontend/src/components/Chart/PieChart/index.tsx
  frontend/src/components/Chart/Tooltip/index.tsx
  frontend/src/components/Chart/index.ts
  frontend/src/components/Profile/ContributionStatistic/index.tsx
Labels: :art: frontend

rename: 통계 영역 컴포넌트명 수정
  frontend/src/components/Profile/Statistic/index.tsx
  frontend/src/components/Profile/index.ts
  frontend/src/pages/profile/[username].tsx
Labels: :art: frontend

feat: useEffect로 초기에만 실행
  frontend/src/pages/profile/[username].tsx
  frontend/src/utils/axiosInstance.ts
Labels: :art: frontend

feat: 국제화 about 스크립트 핵심기능 내용 수정
  frontend/public/locales/en/about.json
  frontend/public/locales/ko/about.json
Labels: :art: frontend

feat: about 점수 계산 스크립트 추가
  frontend/public/locales/en/about.json
  frontend/public/locales/ko/about.json
  frontend/src/pages/about.tsx
Labels: :art: frontend

feature: userDTO에 lowercase 추가
  backend/src/user/dto/user.dto.ts
Labels: :gear: backend

feat: 유저 최초 로그인 시 lowercase 유저 네임 추가
  backend/src/auth/auth.controller.ts
Labels: :gear: backend

feat: rankingController에서 lowercase로 검색해 인덱스 타게 수정
  backend/src/ranking/ranking.controller.ts
Labels: :gear: backend

feat: ranking 페이지네이션 API 에서 lowercase 사용
  backend/src/ranking/ranking.service.ts
Labels: :gear: backend

feat: user 스키마에 lowercase 유저 이름 추가 및 인덱스 생성
  backend/src/user/user.schema.ts
Labels: :gear: backend

refactor: user repository 함수명 lowercase 유저 이름으로 수정
  backend/src/user/user.repository.ts
Labels: :gear: backend

feat: userService의 username을 lowercaseUsername로 수정
  backend/src/user/user.service.ts
Labels: :gear: backend

feat: userController에서 param인 username을 lowercase로
  backend/src/user/user.controller.ts
Labels: :gear: backend

feat: 유저 업데이트 딜레이 시간 텍스트 국제화 적용
  frontend/public/locales/en/profile.json
  frontend/public/locales/ko/profile.json
  frontend/src/components/Profile/ProfileRefreshButton/index.tsx
Labels: :art: frontend

fix: 불필요하게 업데이트되는 user 정보 로직 제거
  backend/src/user/user.service.ts
Labels: :gear: backend

fix: 랭킹 페이지에서 로그인 시 not found페이지로 이동하는 현상 수정
  frontend/src/components/Header/index.tsx
Labels: :art: frontend

fix: useIsFetching 훅 쿼리키 인자 누락 수정
  frontend/src/hooks/useQueryData.ts
Labels: :art: frontend

refactor: username 길때 디자인 수정
  frontend/src/pages/api/og-image.tsx
Labels: :art: frontend

refactor: requestTokenRefresh 수정
  frontend/src/apis/auth.ts
Labels: :art: frontend

refactor: Header에서 refresh요청을 하는 방법으로 수정
  frontend/src/components/Header/index.tsx
  frontend/src/pages/404.tsx
  frontend/src/pages/about.tsx
Labels: :art: frontend

feat: refresh 쿼리 cache time 무한으로 설정
  frontend/src/components/Header/index.tsx
Labels: :art: frontend

Update README.md
  README.md
Labels: none

refactor: 오늘날짜와 같은 경우 scoreHistory 업데이트
  backend/src/user/user.service.ts
Labels: :gear: backend

fix: cron 실행시간 timeZone 설정
  backend/src/batch/batch.service.ts
Labels: :gear: backend

feat: 라인차트 선 아래 영역 시작선선 설정
  frontend/src/components/Chart/LineChart/index.tsx
Labels: :art: frontend

feat: 스코어 히스토리 차트 데이터 시간 한국시간으로 고정
  frontend/src/utils/utils.ts
Labels: :art: frontend

design 라인 차트 axis 텍스트 스타일 수정
  frontend/src/components/Chart/theme.json
Labels: :art: frontend
