Repository boostcampwm-2022/web21-devrank, changes with the labels that .github/labeler.yml gives for each.
All labels: :gear: backend, :art: frontend

.github/labeler.yml:

':gear: backend':
- any: ['backend/**/*']

':art: frontend':
- any: ['frontend/**/*']

feat: 차트 글꼴 Noto Sans KR로 수정
  frontend/src/components/Chart/theme.json
Labels: :art: frontend

feat: 라인차트 데이터 생성 유틸함수 구현
  frontend/src/utils/utils.ts
Labels: :art: frontend

feat: Line chart 컴포넌트 구현
  frontend/src/components/Chart/LineChart.tsx
  frontend/src/pages/profile/[username].tsx
Labels: :art: frontend

feat: 라인차트 색상 유저 랭크색상과 동일하게 정의
  frontend/src/pages/profile/[username].tsx
  frontend/src/utils/utils.ts
Labels: :art: frontend

refactor: 경험치 구하는 로직을 getNeedExp, getstartExp로 분리
  backend/libs/utils/utils.ts
Labels: :gear: backend

fix: swagger에 scoreHistory반영 안되는 문제 수정
  backend/src/user/dto/user.dto.ts
Labels: :gear: backend

fix: EXP 산정 시 getStaetExp, getNeedExp 사용
  backend/src/user/user.service.ts
Labels: :gear: backend

feat: 파이차트 arc link label 제거
  frontend/src/components/Chart/PieChart.tsx
Labels: :art: frontend

remove: 프론트에서 티어 계산 관련 로직 제거
  frontend/src/utils/constants.ts
  frontend/src/utils/utils.ts
Labels: :art: frontend

refactor: EXPbar 수정
  frontend/src/components/Profile/EXPbar/index.tsx
  frontend/src/pages/profile/[username].tsx
Labels: :art: frontend

feat: ProfileUserResponse startExp, needExp 추가
  frontend/src/type/response.ts
Labels: :art: frontend

feat: 프로필페이지 차트 영역 레이아웃 변경
  frontend/src/components/Chart/LineChart.tsx
  frontend/src/pages/profile/[username].tsx
  frontend/src/utils/utils.ts
Labels: :art: frontend

test: EXPbar 스토리북 수정
  frontend/src/components/Profile/EXPbar/EXPbar.stories.tsx
Labels: :art: frontend

refactor: 프로필 Contribution 통계 영역 컴포넌트로 분리
  frontend/src/components/Profile/ContributionStatistic/index.tsx
  frontend/src/pages/profile/[username].tsx
Labels: :art: frontend

refactor: ContributionStatistic index 경로 추가
  frontend/src/components/Profile/index.ts
  frontend/src/pages/profile/[username].tsx
Labels: :art: frontend

fix: log파일에 시간 기록 안되던 문제 수정
  backend/libs/utils/logger.ts
  backend/src/main.ts
Labels: :gear: backend

fix: 500 에러 관련된 로그에 stack정보 추가
  backend/libs/common/filters/http-exception.filter.ts
Labels: :gear: backend

refactor: 서버사이드에서 데이터 패칭 한번에 하도록 변경
  frontend/src/pages/index.tsx
  frontend/src/pages/profile/[username].tsx
  frontend/src/pages/ranking.tsx
Labels: :art: frontend

refactor: HeadMeta components/common으로 폴더 위치 변경
  frontend/src/components/common/HeadMeta/index.tsx
  frontend/src/components/common/index.ts
  frontend/src/pages/about.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/profile/[username].tsx
  frontend/src/pages/ranking.tsx
Labels: :art: frontend

refactor: pinned repository 없을 때 문구 설정
  frontend/src/components/Profile/PinnedRepository/index.tsx
Labels: :art: frontend

refactor: 랭킹 표시 포인트 컬러 삽입
  frontend/src/components/Profile/ProfileCard/index.tsx
Labels: :art: frontend

feat: about 페이지 점수 산정 방식 추가
  frontend/src/pages/about.tsx
Labels: :art: frontend

feat: actions에서 frontend 빌드 시 환경변수 파일 생성
  .github/workflows/build.yml
Labels: none

fix: dockerfile 에러 수정
  frontend/.dockerignore
  frontend/Dockerfile
Labels: :art: frontend

chore: 배포 시 이미지 처리를 위한 sharp 설치
  frontend/package.json
  frontend/yarn.lock
Labels: :art: frontend

feat: about 페이지 국제화 적용
  frontend/src/pages/about.tsx
Labels: :art: frontend

refactor: 메인 페이지 각 랭킹 섹션 컴포넌트로 분리
  frontend/src/pages/index.tsx
Labels: :art: frontend

refactor: LanguageRanking 컴포넌트 추가
  frontend/src/components/Ranking/LanguageRanking/index.tsx
Labels: :art: frontend

refactor: OverallRanking 컴포넌트 추가
  frontend/src/components/Ranking/OverallRanking/index.tsx
Labels: :art: frontend

refactor: RisingRanking 컴포넌트 추가
  frontend/src/components/Ranking/RisingRanking/index.tsx
Labels: :art: frontend

refactor: ViewsRanking 컴포넌트 추가
  frontend/src/components/Ranking/ViewsRanking/index.tsx
Labels: :art: frontend

refactor: 메인페이지 컴포넌트 단위로 분리
  frontend/src/components/Ranking/NotFound/index.tsx
  frontend/src/components/Ranking/Ranking.stories.tsx
  frontend/src/components/Ranking/RankingTable/RankingTable.stories.tsx
  frontend/src/components/Ranking/RankingTable/index.tsx
  frontend/src/components/Ranking/index.ts
  frontend/src/pages/ranking.tsx
Labels: :art: frontend

fix: 중복 import 제거
  frontend/src/utils/utils.ts
Labels: :art: frontend

refactor: about 페이지 국제화 수정
  frontend/public/locales/en/about.json
  frontend/public/locales/ko/about.json
  frontend/src/pages/about.tsx
Labels: :art: frontend

feat: README
  README.md
Labels: none

chore: svg 추가
  frontend/public/icons/arrow-bar.svg
  frontend/public/icons/arrow-up.svg
Labels: :art: frontend

refactor: readme 수정
  README.md
Labels: none

feat: 급상승 유저 상승폭 추가
  frontend/src/components/Ranking/RisingRanking/index.tsx
Labels: :art: frontend

refactor: 상승폭 표시 위치 변경
  frontend/src/components/Ranking/RisingRanking/index.tsx
Labels: :art: frontend

fix: scoreHistory가 1개인 경우 scoreDifference 0
  backend/src/auth/auth.controller.ts
  backend/src/user/user.service.ts
Labels: :gear: backend
