Repository boostcampwm-2022/web21-devrank, changes with the labels that .github/labeler.yml gives for each.
All labels: :gear: backend, :art: frontend

.github/labeler.yml:

':gear: backend':
- any: ['backend/**/*']

':art: frontend':
- any: ['frontend/**/*']

refactor: 국제화 버튼 인식 범위 수정
  frontend/src/components/Header/index.tsx
Labels: :art: frontend

refactor: repository 링크 연결
  frontend/src/components/Profile/PinnedRepository/index.tsx
Labels: :art: frontend

fix: DB에 없던 유저가 로그인 시 정보 등록이 되지 않던 오류 수정
  backend/src/auth/auth.controller.ts
Labels: :gear: backend

fix: 로그인 시 배포 환경에서 cookie 도메인이 잘못 설정되는 문제 해결
  backend/src/auth/auth.service.ts
Labels: :gear: backend

refactor: 국제화 버튼 인식 범위 수정
  frontend/src/components/Header/index.tsx
Labels: :art: frontend

fix: 404페이지 오타 수정
  frontend/public/locales/ko/404.json
Labels: :art: frontend

refactor: repository 링크 연결
  frontend/src/components/Profile/PinnedRepository/index.tsx
Labels: :art: frontend

chore: nest-winston 설치
  backend/package.json
  backend/yarn.lock
Labels: :gear: backend

feat: console logger 미들웨어 출력 포맷 수정
  backend/libs/common/middlewares/console-logger.middleware.ts
  backend/libs/common/middlewares/logger.middleware.ts
Labels: :gear: backend

fix: nest-winson를 사용하여 로거 수정
  backend/libs/common/filters/http-exception.filter.ts
  backend/libs/utils/logger.ts
Labels: :gear: backend

remove: repository도메인 제거
  backend/src/user/repository.repository.ts
  backend/src/user/repository.schema.ts
  backend/src/user/repository.service.ts
Labels: :gear: backend

feat: AppModule에 custom Logger 추가
  backend/src/main.ts
Labels: :gear: backend

feat: 모든 라우트에 logger 적용
  backend/src/app.module.ts
Labels: :gear: backend

ci: backend alpha 버전 배포
  .github/workflows/build-alpha.yml
  backend/package.json
Labels: :gear: backend

chore: nginx와 api 서버 로깅파일 인스턴스에서 공유
  backend/infra/docker-compose.yml
Labels: :gear: backend

refactor: head태그 내 공통 내용은 document.tsx에서 정의하게 변경
  frontend/src/pages/_app.tsx
  frontend/src/pages/_document.tsx
Labels: :art: frontend

feat: Head내 meta태그 정보를 정의하는 HeadMeta 컴포넌트 구현
  frontend/src/components/HeadMeta.tsx
Labels: :art: frontend

chore: open graph 썸네일 이미지 추가
  frontend/public/og-thumbnail.png
Labels: :art: frontend

ci: backend alpha 버전 배포 (#198)
  .github/workflows/build-alpha.yml
  backend/package.json
Labels: :gear: backend

chore: nginx와 api 서버 로깅파일 인스턴스에서 공유 (#199)
  backend/infra/docker-compose.yml
Labels: :gear: backend

remove: repository domain import 제거
  backend/src/ranking/ranking.module.ts
  backend/src/user/user.module.ts
Labels: :gear: backend

refactor: document페이지 meta태그 HeadMeta 내로 이동
  frontend/src/components/HeadMeta.tsx
  frontend/src/pages/_document.tsx
Labels: :art: frontend

chore: 국제화 스크립트 추가
  frontend/public/locales/en/meta.json
  frontend/public/locales/en/profile.json
  frontend/public/locales/ko/meta.json
  frontend/public/locales/ko/profile.json
Labels: :art: frontend

feat: 유저 정보로 meta태그 description을 반환하는 함수 구현
  frontend/src/utils/utils.ts
Labels: :art: frontend

feat: 페이지별 SEO 적용
  frontend/src/pages/404.tsx
  frontend/src/pages/about.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/profile/404.tsx
  frontend/src/pages/profile/[username].tsx
  frontend/src/pages/ranking.tsx
Labels: :art: frontend

docs: Update README.md
  README.md
Labels: none

chore: Update package.json
  backend/package.json
Labels: :gear: backend

fix: db에 없는 유저를 호출할때 update된 유저 정보를 반환하도록 수정
  backend/src/user/user.service.ts
Labels: :gear: backend

fix: update delay를 응답이 반환될 때 기준으로 수정
  backend/src/user/user.controller.ts
Labels: :gear: backend

chore: cron job을 위한 의존성 추가
  backend/package.json
  backend/yarn.lock
Labels: :gear: backend

feat: 24시간마다 실행되는 전체유저 업데이트
  backend/src/app.module.ts
  backend/src/batch/batch.module.ts
  backend/src/batch/batch.service.ts
Labels: :gear: backend

fix: 로그인 시 cookie 도메인 수정
  backend/src/auth/auth.service.ts
Labels: :gear: backend

feat: dailyView 초기화와 scoreDirrerence 산정
  backend/src/batch/batch.service.ts
  backend/src/user/user.service.ts
Labels: :gear: backend

feat: sentry 설정
  backend/package.json
  backend/src/app.module.ts
  backend/src/main.ts
  backend/yarn.lock
Labels: :gear: backend

feat: redis 데이터 유지
  backend/infra/docker-compose.yml
Labels: :gear: backend

chore: 사용되지 않는 의존성 제거
  backend/package.json
  backend/yarn.lock
Labels: :gear: backend

feat: useInterval hook 추가
  frontend/src/hooks/useInterval.ts
Labels: :art: frontend

refactor: requestUserInfoByUsername api param 수정
  frontend/src/apis/users.ts
Labels: :art: frontend

chore: refresh 아이콘 수정
  frontend/public/icons/refresh.svg
Labels: :art: frontend

feat: ProfileRefreshButton 컴포넌트 추가
  frontend/src/components/Profile/ProfileRefreshButton/index.tsx
Labels: :art: frontend
