Repository boostcampwm-2022/web21-devrank, changes with the labels that .github/labeler.yml gives for each.
All labels: :gear: backend, :art: frontend

ci: fix deploy actions
  .github/workflows/build.yml
Labels: none

ci: cache-dependency-path
  .github/workflows/build.yml
Labels: none

ci: yarn 경로 수정
  .github/workflows/build.yml
Labels: none

ci: remove cp .env.prod
  backend/package.json
Labels: :gear: backend

feat: month 배열 상수 추가
  frontend/src/utils/constants.ts
Labels: :art: frontend

feat: 커밋 내역 컴포넌트 구현
  frontend/src/components/Profile/CommitHistory/index.tsx
  frontend/src/components/Profile/index.ts
  frontend/src/pages/profile/[username].tsx
Labels: :art: frontend

chore: user not found 페이지 국제화 설정 추가
  frontend/public/locales/en/404.json
  frontend/public/locales/ko/404.json
Labels: :art: frontend

feat: user not found 페이지 국제화 적용
  frontend/src/pages/profile/404.tsx
Labels: :art: frontend

feat: requestUserInfoByUsername api 추가
  frontend/src/apis/profile.ts
Labels: :art: frontend

feat: user 이름 검색 후 없으면 404로 redirect
  frontend/src/pages/index.tsx
  frontend/src/pages/profile/[username].tsx
Labels: :art: frontend

feat: profile 페이지 국제화 적용
  frontend/public/locales/en/profile.json
  frontend/public/locales/ko/profile.json
  frontend/src/components/Profile/EXPbar/index.tsx
  frontend/src/components/Profile/ProfileCard/index.tsx
  frontend/src/pages/profile/[username].tsx
Labels: :art: frontend

fix: 랭킹 점수 없을 시 오류 수정
  frontend/src/pages/ranking.tsx
Labels: :art: frontend

fix: getServerSideProps에 profile 추가
  frontend/src/pages/profile/[username].tsx
Labels: :art: frontend

fix: 없는 유저 검색 시 octokit에서 404에러를 받아서 처리
  backend/src/user/user.service.ts
Labels: :gear: backend

feat: 없는 유저 검색 시 githubToken을 통해 score업데이트 로직 추가
  backend/src/user/user.controller.ts
Labels: :gear: backend

fix: build 오류 수정
  frontend/src/components/common/Searchbar/Searchbar.stories.tsx
  frontend/src/pages/about.tsx
Labels: :art: frontend

feat: useDebounce hook 추가
  frontend/src/components/common/Searchbar/index.tsx
  frontend/src/hooks/useDebounce.ts
Labels: :art: frontend

fix: build 오류 수정
  frontend/.eslintrc.js
  frontend/next.config.js
  frontend/package.json
  frontend/tsconfig.json
Labels: :art: frontend

fix: @types/styled-compoenents
  frontend/package.json
Labels: :art: frontend

fix: setting 변경
  frontend/next-i18next.config.js
  frontend/next.config.js
  frontend/package.json
Labels: :art: frontend

fix: remove localePath
  frontend/next-i18next.config.js
Labels: :art: frontend

fix: add localePath
  frontend/next-i18next.config.js
Labels: :art: frontend

fix: build eslint 추가
  frontend/.eslintrc.js
  frontend/tsconfig.json
Labels: :art: frontend

fix: eslint include 변경
  frontend/tsconfig.json
Labels: :art: frontend

feat: username 전방 일치 DTO
  backend/src/user/dto/auto-complete.dto.ts
Labels: :gear: backend

move: username 전방 일치 로직은 ranking도메인에서 user로 이동
  backend/src/ranking/ranking.controller.ts
  backend/src/ranking/ranking.service.ts
Labels: :gear: backend

feat: username 전방 일치 controller endpoint
  backend/src/user/user.controller.ts
Labels: :gear: backend

feat: username 전방 일치 repository 메소드 구현
  backend/src/user/user.repository.ts
Labels: :gear: backend

feat: username 전방 일치 Service 구현
  backend/src/user/user.service.ts
Labels: :gear: backend

feat: AutoComplete 컴포넌트 추가
  frontend/src/components/common/Searchbar/AutoComplete.tsx
Labels: :art: frontend

feat: autoComplete 인자 추가
  frontend/src/pages/index.tsx
Labels: :art: frontend

feat: autoComplete 인자 추가
  frontend/src/apis/ranking.ts
  frontend/src/components/common/Searchbar/index.tsx
Labels: :art: frontend

feat: 상수 추가
  frontend/src/hooks/useInput.ts
  frontend/src/utils/constants.ts
Labels: :art: frontend

feat: 로그인 시, DB에 없으면 유저 추가 및 update로직 추가
  backend/src/auth/auth.controller.ts
Labels: :gear: backend

feat: ranking user dto에 _id필드 제거
  backend/src/ranking/dto/ranking-user.dto.ts
Labels: :gear: backend

feat: 프로필에서 stat정보를 나타내는 History Dto 추가
  backend/src/user/dto/history.dto.ts
Labels: :gear: backend

feat: pinned Repo를 위한 Dto 추가
  backend/src/user/dto/pinned-repository.dto.ts
Labels: :gear: backend

feat: user 스키마에 history, pinnedRepositories 추가
  backend/src/user/dto/user.dto.ts
Labels: :gear: backend

feat: user profile Dto 추가
  backend/src/user/dto/user.profile.dto.ts
Labels: :gear: backend

feat: score 업데이트 함수, 전체 업데이트 함수 변경
  backend/src/user/user.controller.ts
Labels: :gear: backend

.github/labeler.yml:

':gear: backend':
- any: ['backend/**/*']

':art: frontend':
- any: ['frontend/**/*']
