Repository boostcampwm-2022/web21-devrank, changes with the labels that .github/labeler.yml gives for each.
All labels: :gear: backend, :art: frontend

.github/labeler.yml:

':gear: backend':
- any: ['backend/**/*']

':art: frontend':
- any: ['frontend/**/*']

refactor: fragment 제거
  frontend/src/components/Ranking/RisingRanking/index.tsx
Labels: :art: frontend

feat: backend 용 blue-green shell 스크립트
  backend/infra/backend-deploy.sh
  backend/infra/deploy.sh
  backend/infra/nginx/default.conf
Labels: :gear: backend

feat: frontend blue-green 쉘스크립트
  backend/infra/frontend-deploy.sh
Labels: :gear: backend

feat: docker-compose에 front blue, green 컨테이너 추가
  backend/infra/docker-compose.yml
Labels: :gear: backend

refactor: Header 컴포넌트에서 refresh 요청을 하는 방식으로 개선
  frontend/src/components/Header/index.tsx
  frontend/src/pages/404.tsx
  frontend/src/pages/about.tsx
Labels: :art: frontend

fix: scoreHistory 새로 생긴 유저인 경우에만 추가 / updateAllUsers시 scoreHistory 변경
  backend/src/auth/auth.controller.ts
  backend/src/user/user.service.ts
Labels: :gear: backend

design: 랭킹 컴포넌트 랭킹 중앙정렬
  frontend/src/components/Ranking/OverallRanking/index.tsx
  frontend/src/components/Ranking/RisingRanking/index.tsx
  frontend/src/components/Ranking/ViewsRanking/index.tsx
Labels: :art: frontend

design: 드롭다운 중앙선 제거
  frontend/src/components/common/Dropdown/index.tsx
Labels: :art: frontend

refactor: 빈공간 div태그 리액트 fragment로 수정
  frontend/src/components/Header/index.tsx
Labels: :art: frontend

refactor: fragment null로 수정
  frontend/src/components/Header/index.tsx
Labels: :art: frontend

design: pinned repository 텍스트 height 수정
  frontend/src/components/Profile/PinnedRepository/index.tsx
Labels: :art: frontend

fix: size가 작은 avatar이미지에서는 priority 속성 off
  frontend/src/components/common/Avatar/index.tsx
Labels: :art: frontend

feat: nginx에 ssl 설정 추가
  infra/nginx/default.conf
Labels: none

feat: 초기 세팅용 쉘 스크립트 추가
  infra/initial-deploy.sh
Labels: none

feat: backend 자동배포 스크립트 추가
  infra/backend-deploy.sh
Labels: none

feat: frontend 자동배포 스크립트 추가
  infra/frontend-deploy.sh
Labels: none

feat: docker-compose 파일 추가
  infra/docker-compose.yml
Labels: none

feat: 서버측 endpoint를 위한 hook 추가
  infra/hooks.json
  infra/hooks.service
Labels: none

docs: README 추가
  infra/README.md
Labels: none

ci: fix deploy-alpha
  .github/workflows/build-alpha.yml
Labels: none

ci: fix alpha-deploy
  .github/workflows/build-alpha.yml
Labels: none

style: 컴포넌트 명 오타 수정
  frontend/src/pages/index.tsx
Labels: :art: frontend

refactor: 사용하지 않는 Noto-Sans KR 폰트 제거
  frontend/src/utils/fonts.ts
Labels: :art: frontend

style: pagination 오타 수정
  frontend/src/components/Ranking/OverallRanking/index.tsx
  frontend/src/pages/ranking.tsx
  frontend/src/type/response.ts
Labels: :art: frontend

feat: 본인의 프로필 업데이트는 시간제한 없음
  backend/libs/common/decorators/user-github-id.decorator.ts
  backend/src/user/user.controller.ts
Labels: :gear: backend

refactor: meta 태그 title 수정
  frontend/public/locales/en/meta.json
  frontend/public/locales/ko/meta.json
Labels: :art: frontend

refactor: 프로필 meta 태그 description 유저명 제거
  frontend/src/utils/utils.ts
Labels: :art: frontend

refactor: meta 태그 영어 스크립트 간략하게 수정
  frontend/public/locales/en/meta.json
Labels: :art: frontend

refactor: useInput에 trim 기능 추가
  frontend/src/hooks/useInput.ts
Labels: :art: frontend

ci: create release
  .github/workflows/build.yml
Labels: none

fix: 각 페이지에서 useQuery 실행하도록 수정
  frontend/src/components/Header/index.tsx
  frontend/src/pages/404.tsx
  frontend/src/pages/about.tsx
Labels: :art: frontend

ci: fix build.yml
  .github/workflows/build.yml
Labels: none

fix: update build.yml
  .github/workflows/build.yml
Labels: none

fix: update build.yml
  .github/workflows/build.yml
Labels: none

fix: update build.yml
  .github/workflows/build.yml
Labels: none

fix: update build.yml
  .github/workflows/build.yml
Labels: none

fix: 변수명 오타 수정
  frontend/src/apis/ranking.ts
Labels: :art: frontend

refactor: 랭킹페이지 검색 정보 국제화 적용
  frontend/public/locales/en/ranking.json
  frontend/public/locales/ko/ranking.json
  frontend/src/pages/ranking.tsx
Labels: :art: frontend

feat: cube 색 변경 기능
  frontend/src/components/common/CubeLogo/index.tsx
Labels: :art: frontend

fix: score값에 null이 들어가던 오류 수정
  backend/src/user/user.service.ts
Labels: :gear: backend
