Repository boostcampwm-2022/web21-devrank, changes with the labels that .github/labeler.yml gives for each.
All labels: :gear: backend, :art: frontend

.github/labeler.yml:

':gear: backend':
- any: ['backend/**/*']

':art: frontend':
- any: ['frontend/**/*']

design: 라인차트 axis legend font weight 수정
  frontend/src/components/Chart/theme.json
Labels: :art: frontend

feat: 업데이트 실패한 유저 조회 시 처리 추가
  backend/src/user/user.service.ts
Labels: :gear: backend

feat: 업데이트 싪한 유저 updateDelayTime 추가
  backend/src/user/user.controller.ts
Labels: :gear: backend

feat: 업데이트 실패 유저는 조회수 상승 X
  backend/src/user/user.service.ts
Labels: :gear: backend

fix: github 권한 설정 변경
  frontend/src/utils/constants.ts
Labels: :art: frontend

fix: ProfileUserResponse type 변경
  frontend/src/type/response.ts
Labels: :art: frontend

chore: invalid cube 이미지 추가
  frontend/public/icons/cube-large-background.svg
  frontend/public/icons/cube/cube-small-invalid.svg
Labels: :art: frontend

refactor: ranking prefetch 오타 수정
  frontend/src/pages/ranking.tsx
Labels: :art: frontend

fix: logout 버그 수정
  frontend/src/components/Header/index.tsx
Labels: :art: frontend

feat: CubeLogo 컴포넌트 invalid option 추가
  frontend/src/components/Profile/ProfileCard/index.tsx
  frontend/src/components/common/CubeLogo/index.tsx
Labels: :art: frontend

refactor: invalid cube path 수정
  frontend/src/components/Ranking/NotFound/index.tsx
  frontend/src/pages/404.tsx
  frontend/src/pages/profile/404.tsx
  frontend/src/pages/profile/[username].tsx
Labels: :art: frontend

chore: 국제화 적용
  frontend/public/locales/en/profile.json
  frontend/public/locales/ko/profile.json
Labels: :art: frontend

refactor: 오타 수정
  frontend/src/components/Header/index.tsx
Labels: :art: frontend

feat: 국제화 적용
  frontend/src/components/Profile/ProfileCard/index.tsx
  frontend/src/pages/profile/[username].tsx
Labels: :art: frontend

fix: history type error 수정
  frontend/src/components/Profile/Statistic/index.tsx
  frontend/src/pages/profile/[username].tsx
Labels: :art: frontend

fix: logger에 500대 에러 및 일반 에러를 logger에서 잡기
  backend/libs/common/filters/http-exception.filter.ts
Labels: :gear: backend

fix: 새로운 유저 update시 scoreHistory로 인해 발생하던 에러 수정
  backend/src/user/user.service.ts
Labels: :gear: backend

feat: 소개 페이지 개발자 소개 수정
  frontend/src/pages/about.tsx
  frontend/src/utils/constants.ts
Labels: :art: frontend

fix: 날짜가 바뀌었을 경우에 scoreHistory 추가
  backend/src/user/user.service.ts
Labels: :gear: backend

fix: 유저 업데이트 실패 시 log에 이름 기록
  backend/src/user/user.service.ts
Labels: :gear: backend

Update README.md
  README.md
Labels: none

fix: date timezone 설정
  backend/src/user/user.service.ts
Labels: :gear: backend

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

fix: 한국 시간 기준으로 12시에 일일 조회수 초기화 되도록 수정
  backend/src/user/user.repository.ts
Labels: :gear: backend

feat: UTC와 한국 시간의 차이를 상수로 분리
  backend/libs/consts/index.ts
  backend/src/user/user.service.ts
Labels: :gear: backend

feat: KR_TIME_DIFF 사용하도록 변경
  backend/src/user/user.repository.ts
Labels: :gear: backend

fix: 3600초를 HOUR로 변경
  backend/libs/consts/index.ts
Labels: :gear: backend

design: 랭킹 컴포넌트 왼쪽 패딩 제거
  frontend/src/components/Ranking/LanguageRanking/index.tsx
  frontend/src/components/Ranking/RankingTable/index.tsx
  frontend/src/pages/ranking.tsx
Labels: :art: frontend

remove: 등수 로직을 redis로 옮김에 따라 Rank 타입 제거
  backend/src/user/dto/rank.dto.ts
Labels: :gear: backend

remove: 불필요한 주석 제거
  backend/src/auth/auth.service.ts
  backend/src/user/user.controller.ts
Labels: :gear: backend

refactor: GET /를 getHello에서 healthCheck로 변경
  backend/src/app.controller.ts
Labels: :gear: backend

feat: app.module에 userModule추가
  backend/src/app.module.ts
Labels: :gear: backend

feat: Nestjs 앱 요청 받기 전까지 딜레이 및 redis에 모든 등수 캐싱
  backend/src/app.service.ts
Labels: :gear: backend

feat: rankingDTO에 totalRank 추가
  backend/src/ranking/dto/ranking-user.dto.ts
Labels: :gear: backend

feat: ranking 페이지네이션에 redis에 있는 totalRank 추가
  backend/src/ranking/ranking.service.ts
Labels: :gear: backend

feat: userDTO에 totalRank 추가
  backend/src/user/dto/user.dto.ts
Labels: :gear: backend

feat: 동일 점수를 가진 유저의 절대 등수를 순서대로 표기하기위해 정렬 추가
  backend/src/user/user.repository.ts
Labels: :gear: backend

feat: redis sorted-set에 유저 등수 캐싱 로직 추가
  backend/src/user/user.repository.ts
Labels: :gear: backend

feat: redis sorted-set에 유저 등수 제거 로직 추가
  backend/src/user/user.repository.ts
Labels: :gear: backend
