Repository boostcampwm-2022/web21-devrank, changes with the labels that .github/labeler.yml gives for each.
All labels: :gear: backend, :art: frontend

.github/labeler.yml:

':gear: backend':
- any: ['backend/**/*']

':art: frontend':
- any: ['frontend/**/*']

feat: 프로필 페이지에 refresh 버튼 추가
  frontend/src/components/Profile/ProfileCard/index.tsx
  frontend/src/pages/profile/[username].tsx
Labels: :art: frontend

fix: sentry endpoint 노출 제거
  backend/src/main.ts
Labels: :gear: backend

ci: frontend 도커라이징
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/package.json
Labels: :art: frontend

ci: frontend docker image push
  .github/workflows/build.yml
Labels: none

refactor: onSuccess, onError 중복 로직 onSettled로 수정
  frontend/src/pages/profile/[username].tsx
Labels: :art: frontend

refactor: method 타입 추가
  frontend/src/apis/users.ts
  frontend/src/pages/profile/[username].tsx
  frontend/src/type/common.ts
Labels: :art: frontend

feat: scoreHistory를 기록
  backend/src/user/dto/user.dto.ts
  backend/src/user/user.schema.ts
  backend/src/user/user.service.ts
Labels: :gear: backend

feat: 처음 생성되는 유저의 경우 현재의 socre을 init
  backend/src/auth/auth.controller.ts
  backend/src/user/user.schema.ts
  backend/src/user/user.service.ts
Labels: :gear: backend

feat: updateUser시 랭킹과 필요 EXP를 포함하도록 수정
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
Labels: :gear: backend

refactor: tier 커트라인을 백엔드에서만 관리하기 위해 tierCutOffs를 지정
  backend/libs/utils/utils.ts
  backend/src/user/dto/user.profile.dto.ts
Labels: :gear: backend

chore: nivo 파이, 라인 차트 라이브러리 설치
  frontend/package.json
  frontend/yarn.lock
Labels: :art: frontend

HOTFIX: batch module
  backend/package.json
  backend/src/batch/batch.module.ts
  backend/yarn.lock
Labels: :gear: backend

feat: Piechart 컴포넌트 작성
  frontend/src/components/Chart/PieChart.tsx
Labels: :art: frontend

fix: 유저 정보 새로고침시 userInfo 변경
  backend/src/user/user.service.ts
Labels: :gear: backend

refactor: 없는 유저와 있는 유저 로직 통합
  backend/src/user/user.service.ts
Labels: :gear: backend

refactor: 메타 태그에 국제화 적용
  frontend/src/utils/utils.ts
Labels: :art: frontend

feat: 랭킹 단위 국제화 적용
  frontend/src/utils/utils.ts
Labels: :art: frontend

feat: 메타태그 국제화 및 등수 단위 국제화 적용
  frontend/src/components/Profile/ProfileCard/index.tsx
  frontend/src/pages/profile/[username].tsx
Labels: :art: frontend

refactor: 순위 표시 수정
  frontend/src/utils/utils.ts
Labels: :art: frontend

fix: user.scoreHistory가 비었을시 예외처리
  backend/src/user/user.service.ts
Labels: :gear: backend

fix: cron 1일마다 실행되도록 수정
  backend/src/batch/batch.service.ts
Labels: :gear: backend

feat: history 데이터를 Piechart 데이터 형식으로 변경하는 유틸함수 구현
  frontend/src/utils/utils.ts
Labels: :art: frontend

feat: Github stats 표시 Piechart 컴포넌트 구현
  frontend/src/components/Chart/PieChart.tsx
  frontend/src/components/Chart/theme.json
  frontend/src/pages/profile/[username].tsx
Labels: :art: frontend

feat: const에 RANK 캐시 딜레이 추가
  backend/libs/consts/index.ts
Labels: :gear: backend

feat: Rank DTO추가
  backend/src/user/dto/rank.dto.ts
Labels: :gear: backend

feat: 유저 rank 캐시에 따른 로직 분기
  backend/src/user/user.service.ts
Labels: :gear: backend

feat: redis에 계산된 유저 등수 캐싱 로직 추가
  backend/src/user/user.repository.ts
Labels: :gear: backend

fix: console.llog 제거
  backend/src/user/user.service.ts
Labels: :gear: backend

feat: queryValidator 함수 추가
  frontend/src/utils/utils.ts
Labels: :art: frontend

refactor: tier type 수정
  frontend/src/apis/ranking.ts
  frontend/src/components/Filterbar/index.tsx
  frontend/src/components/Pagination/index.tsx
Labels: :art: frontend

feat: 헤더 링크 수정
  frontend/src/components/Header/index.tsx
Labels: :art: frontend

feat: 랭킹 url 필터링 적용
  frontend/src/pages/ranking.tsx
Labels: :art: frontend

feat: startExp를 userProfileDto에 포함
  backend/src/user/dto/user.profile.dto.ts
  backend/src/user/user.service.ts
Labels: :gear: backend

feat: github API delay 정의
  backend/libs/consts/index.ts
Labels: :gear: backend

feat: swagger API response desc 수정
  backend/src/user/user.controller.ts
Labels: :gear: backend

feat: github API delay용 sleep함수 사용
  backend/src/user/user.service.ts
Labels: :gear: backend

feat: nivo 차트 axis 스타일 추가
  frontend/src/components/Chart/theme.json
Labels: :art: frontend

feat: userUpdate 실패 시 try catch 에러 처리
  backend/src/user/user.service.ts
Labels: :gear: backend

fix: cron logger 수정
  backend/src/batch/batch.service.ts
Labels: :gear: backend

fix: API desc 수정
  backend/src/user/user.controller.ts
Labels: :gear: backend
