Repository boostcampwm-2022/web21-devrank, pull requests merged in 2022-12, with the labels that each got.

#170 Feature: 검색어 자동 완성
  frontend/src/apis/ranking.ts
  frontend/src/components/Ranking/RankingSearchbar/index.tsx
  frontend/src/components/common/Searchbar/AutoComplete/AutoComplete.tsx
  frontend/src/components/common/Searchbar/AutoComplete/index.tsx
  frontend/src/components/common/Searchbar/index.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useAutoComplete.ts
  frontend/src/hooks/useInput.ts
  frontend/src/pages/index.tsx
  frontend/src/pages/ranking.tsx
  frontend/src/utils/constants.ts
Labels: :sparkles: feature, :art: frontend

#165 fix: mostViewedRanking 정렬기준
  backend/src/user/user.repository.ts
Labels: :lady_beetle: bug, :gear: backend

#176 Feature: 유저 클릭시 프로필 페이지로 이동
  frontend/src/components/Ranking/index.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/ranking.tsx
Labels: :sparkles: feature, :art: frontend

#177 Fix: organizaiton dto 수정
  backend/src/user/dto/auto-complete.dto.ts
  backend/src/user/dto/organization.dto.ts
  backend/src/user/dto/pinned-repository.dto.ts
Labels: :gear: backend, ⚠️ API Change

#167 CI/CD: blue-green 무중단 배포
  backend/docker-compose.yml
  backend/infra/deploy.sh
  backend/infra/docker-compose.yml
  backend/infra/nginx/default.conf
Labels: :gear: backend, :package: ci/cd

#166 Fix: followersScore 내림
  backend/src/user/user.service.ts
Labels: :gear: backend

#178 Fix: 검색 자동완성 유저 데이터 fetching API 변경
  frontend/src/apis/users.ts
  frontend/src/components/common/Searchbar/AutoComplete/AutoComplete.tsx
  frontend/src/hooks/useAutoComplete.ts
  frontend/src/type/response.ts
Labels: :lady_beetle: bug, :art: frontend

#179 Feature: 프로필 페이지
  frontend/public/locales/en/profile.json
  frontend/public/locales/ko/profile.json
  frontend/src/apis/profile.ts
  frontend/src/apis/users.ts
  frontend/src/components/Profile/CommitHistory/index.tsx
  frontend/src/components/Profile/EXPbar/index.tsx
  frontend/src/components/Profile/PinnedRepository/index.tsx
  frontend/src/components/Profile/ProfileCard/index.tsx
  frontend/src/components/common/Avatar/index.tsx
  frontend/src/pages/profile/[username].tsx
  frontend/src/styles/theme.ts
  frontend/src/type/common.ts
  frontend/src/type/response.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/utils.ts
Labels: :sparkles: feature, :art: frontend

#189 Fix: 검색 자동완성 오류 수정
  frontend/src/pages/index.tsx
  frontend/src/type/response.ts
Labels: :lady_beetle: bug, :art: frontend

#190 Release 0.0.4
  backend/docker-compose.yml
  backend/infra/deploy.sh
  backend/infra/docker-compose.yml
  backend/infra/nginx/default.conf
  backend/src/user/dto/auto-complete.dto.ts
  backend/src/user/dto/organization.dto.ts
  backend/src/user/dto/pinned-repository.dto.ts
  backend/src/user/user.repository.ts
  backend/src/user/user.service.ts
  frontend/public/locales/en/profile.json
  frontend/public/locales/ko/profile.json
  frontend/src/apis/profile.ts
  frontend/src/apis/users.ts
  frontend/src/components/Profile/CommitHistory/index.tsx
  frontend/src/components/Profile/EXPbar/index.tsx
  frontend/src/components/Profile/PinnedRepository/index.tsx
  frontend/src/components/Profile/ProfileCard/index.tsx
  frontend/src/components/Ranking/index.tsx
  frontend/src/components/common/Avatar/index.tsx
  frontend/src/components/common/Searchbar/AutoComplete/AutoComplete.tsx
  frontend/src/hooks/useAutoComplete.ts
  frontend/src/pages/index.tsx
  frontend/src/pages/profile/[username].tsx
  frontend/src/pages/ranking.tsx
  frontend/src/styles/theme.ts
  frontend/src/type/common.ts
  frontend/src/type/response.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/utils.ts
Labels: :art: frontend, :gear: backend

#188 refactor: graphql query 별도 파일로 분리
  backend/src/user/user.service.ts
  backend/src/user/utils/query.ts
Labels: :sparkles: feature, :gear: backend

#195 Fix: 로그인 시 배포 환경에서 cookie 도메인이 잘못 설정되는 문제 해결
  backend/src/auth/auth.service.ts
Labels: :gear: backend

#201 Feature: SEO 최적화 작업
  frontend/public/locales/en/meta.json
  frontend/public/locales/en/profile.json
  frontend/public/locales/ko/meta.json
  frontend/public/locales/ko/profile.json
  frontend/public/og-thumbnail.png
  frontend/src/components/HeadMeta.tsx
  frontend/src/pages/404.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/_document.tsx
  frontend/src/pages/about.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/profile/404.tsx
  frontend/src/pages/profile/[username].tsx
  frontend/src/pages/ranking.tsx
  frontend/src/utils/utils.ts
Labels: :sparkles: feature, :art: frontend, :hammer_and_wrench: refactor

#204 0.0.6 배포
  backend/package.json
Labels: :gear: backend

#205 Fix: db에 없는 유저를 호출할때 update된 유저 정보를 반환하도록 수정
  backend/src/user/user.service.ts
Labels: :lady_beetle: bug, :gear: backend

#206 Fix: update delay를 응답이 반환될 때 기준으로 수정 / redis volume 연결
  backend/infra/docker-compose.yml
  backend/src/auth/auth.service.ts
  backend/src/user/user.controller.ts
Labels: :gear: backend, :hammer_and_wrench: refactor

#208 Feature: sentry 설정
  backend/package.json
  backend/src/app.module.ts
  backend/src/main.ts
  backend/yarn.lock
Labels: :gear: backend, :package: ci/cd

#209 chore: 사용되지 않는 의존성 제거
  backend/package.json
  backend/yarn.lock
Labels: :gear: backend

#211 CI: frontend deploy
  .github/workflows/build.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/package.json
Labels: :art: frontend, :package: ci/cd

#210 Feature: 프로필 페이지 refresh 버튼 추가 및 github commit streak 표시 변경
  frontend/public/icons/refresh.svg
  frontend/src/apis/users.ts
  frontend/src/components/Profile/ProfileCard/index.tsx
  frontend/src/components/Profile/ProfileRefreshButton/index.tsx
  frontend/src/hooks/useInterval.ts
  frontend/src/pages/profile/[username].tsx
  frontend/src/type/common.ts
Labels: :sparkles: feature, :art: frontend

#213 Feature: need exp
  backend/libs/utils/utils.ts
  backend/src/user/dto/user.profile.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
Labels: :gear: backend

#216 fix: user.scoreHistory가 비었을시 예외처리
  backend/src/batch/batch.service.ts
  backend/src/user/user.service.ts
Labels: :gear: backend

#214 Fix: 유저 정보 새로고침시 userInfo 변경
  backend/src/user/user.service.ts
Labels: :gear: backend

#217 0.0.7 배포
  .github/workflows/build.yml
  backend/infra/docker-compose.yml
  backend/libs/utils/utils.ts
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/batch/batch.module.ts
  backend/src/batch/batch.service.ts
  backend/src/main.ts
  backend/src/user/dto/user.dto.ts
  backend/src/user/dto/user.profile.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.schema.ts
  backend/src/user/user.service.ts
  backend/yarn.lock
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/package.json
  frontend/public/icons/refresh.svg
  frontend/src/apis/users.ts
  frontend/src/components/Profile/ProfileCard/index.tsx
  frontend/src/components/Profile/ProfileRefreshButton/index.tsx
  frontend/src/hooks/useInterval.ts
  frontend/src/pages/profile/[username].tsx
  frontend/src/type/common.ts
Labels: :art: frontend, :gear: backend

#218 Feature: score cache
  backend/libs/consts/index.ts
  backend/src/user/dto/rank.dto.ts
  backend/src/user/user.repository.ts
  backend/src/user/user.service.ts
Labels: :gear: backend

#221 Feature: GitHub api delay
  backend/libs/consts/index.ts
  backend/src/batch/batch.service.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
Labels: :sparkles: feature, :gear: backend

#219 Feature: 랭킹 url 필터링 적용
  frontend/src/apis/ranking.ts
  frontend/src/components/Filterbar/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/Pagination/index.tsx
  frontend/src/pages/ranking.tsx
  frontend/src/utils/utils.ts
Labels: :sparkles: feature, :art: frontend

#222 Refactor: Exp 산정 로직 함수화
  backend/libs/utils/utils.ts
  backend/src/user/dto/user.dto.ts
  backend/src/user/user.service.ts
Labels: :gear: backend, :hammer_and_wrench: refactor

#224 Feature: 프로필 페이지 Stats 정보 구현
  frontend/package.json
  frontend/src/components/Chart/LineChart.tsx
  frontend/src/components/Chart/PieChart.tsx
  frontend/src/components/Chart/theme.json
  frontend/src/components/Profile/ContributionStatistic/index.tsx
  frontend/src/components/Profile/index.ts
  frontend/src/pages/profile/[username].tsx
  frontend/src/utils/utils.ts
  frontend/yarn.lock
Labels: :sparkles: feature, :art: frontend

#228 0.0.8 배포
  backend/libs/consts/index.ts
  backend/libs/utils/utils.ts
  backend/src/batch/batch.service.ts
  backend/src/user/dto/rank.dto.ts
  backend/src/user/dto/user.dto.ts
  backend/src/user/dto/user.profile.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.repository.ts
  backend/src/user/user.service.ts
  frontend/package.json
  frontend/src/apis/ranking.ts
  frontend/src/components/Chart/LineChart.tsx
  frontend/src/components/Chart/PieChart.tsx
  frontend/src/components/Chart/theme.json
  frontend/src/components/Filterbar/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/Pagination/index.tsx
  frontend/src/components/Profile/ContributionStatistic/index.tsx
  frontend/src/components/Profile/EXPbar/EXPbar.stories.tsx
  frontend/src/components/Profile/EXPbar/index.tsx
  frontend/src/components/Profile/ProfileCard/index.tsx
  frontend/src/components/Profile/index.ts
  frontend/src/pages/profile/[username].tsx
  frontend/src/pages/ranking.tsx
  frontend/src/type/response.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/utils.ts
  frontend/yarn.lock
Labels: :art: frontend, :gear: backend

#226 Fix: log파일에 시간 정보 및 stack 정보 기록
  backend/libs/common/filters/http-exception.filter.ts
  backend/libs/utils/logger.ts
  backend/src/main.ts
Labels: :gear: backend

#229 CI: frontend 배포 시 환경변수 관련 설정
  .github/workflows/build.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/package.json
  frontend/yarn.lock
Labels: :art: frontend, :package: ci/cd

#230 0.0.9 배포
  .github/workflows/build.yml
  backend/libs/common/filters/http-exception.filter.ts
  backend/libs/utils/logger.ts
  backend/src/main.ts
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/package.json
  frontend/yarn.lock
Labels: :art: frontend, :gear: backend

#232 Refactor: 페이지 컴포넌트 단위로 분리, about 페이지 점수 산정 방식 추가
  frontend/public/locales/en/about.json
  frontend/public/locales/ko/about.json
  frontend/src/components/Profile/PinnedRepository/index.tsx
  frontend/src/components/Profile/ProfileCard/index.tsx
  frontend/src/components/Ranking/LanguageRanking/index.tsx
  frontend/src/components/Ranking/NotFound/index.tsx
  frontend/src/components/Ranking/OverallRanking/index.tsx
  frontend/src/components/Ranking/Ranking.stories.tsx
  frontend/src/components/Ranking/RankingTable/RankingTable.stories.tsx
  frontend/src/components/Ranking/RankingTable/index.tsx
  frontend/src/components/Ranking/RisingRanking/index.tsx
  frontend/src/components/Ranking/ViewsRanking/index.tsx
  frontend/src/components/Ranking/index.ts
  frontend/src/components/common/HeadMeta/index.tsx
  frontend/src/components/common/index.ts
  frontend/src/pages/about.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/profile/[username].tsx
  frontend/src/pages/ranking.tsx
Labels: :art: frontend, :hammer_and_wrench: refactor

#234 Feature: README 작성
  README.md
Labels: :blue_book: documentation

#235 Feature: 급상승 유저 상승폭 표시 추가
  README.md
  frontend/public/icons/arrow-bar.svg
  frontend/public/icons/arrow-up.svg
  frontend/src/components/Ranking/RisingRanking/index.tsx
Labels: :sparkles: feature, :art: frontend

#236 0.1.1 배포
  README.md
  frontend/public/icons/arrow-bar.svg
  frontend/public/icons/arrow-up.svg
  frontend/src/components/Ranking/RisingRanking/index.tsx
Labels: :art: frontend

#239 fix: scoreHistory가 1개인 경우 scoreDifference 0
  backend/src/auth/auth.controller.ts
  backend/src/user/user.service.ts
Labels: :sparkles: feature, :gear: backend

#245 Refactor: 로그인 유지 개선
  frontend/src/components/Header/index.tsx
  frontend/src/pages/404.tsx
  frontend/src/pages/about.tsx
Labels: :art: frontend, :hammer_and_wrench: refactor

#241 Fix: scoreHistory 새로 생긴 유저인 경우에만 추가 / updateAllUsers시 scoreHistory 변경
  backend/src/auth/auth.controller.ts
  backend/src/user/user.service.ts
Labels: :sparkles: feature, :gear: backend

#244 Style: ranking component 랭킹 중앙 정렬
  frontend/src/components/Ranking/OverallRanking/index.tsx
  frontend/src/components/Ranking/RisingRanking/index.tsx
  frontend/src/components/Ranking/ViewsRanking/index.tsx
  frontend/src/components/common/Dropdown/index.tsx
Labels: :art: frontend, :framed_picture: style

#249 Fix: 프론트엔드 수정
  frontend/src/components/Profile/PinnedRepository/index.tsx
  frontend/src/components/Ranking/OverallRanking/index.tsx
  frontend/src/components/common/Avatar/index.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/ranking.tsx
  frontend/src/type/response.ts
  frontend/src/utils/fonts.ts
Labels: :art: frontend, :hammer_and_wrench: refactor, :framed_picture: style

#258 Refactor: meta태그 텍스트 수정
  frontend/public/locales/en/meta.json
  frontend/public/locales/ko/meta.json
  frontend/src/utils/utils.ts
Labels: :art: frontend, :hammer_and_wrench: refactor

#252 feat: 본인의 프로필 업데이트는 시간제한 없음
  backend/libs/common/decorators/user-github-id.decorator.ts
  backend/src/user/user.controller.ts
Labels: :gear: backend

#262 0.1.3 배포
  .github/workflows/build.yml
  backend/libs/common/decorators/user-github-id.decorator.ts
  backend/src/user/user.controller.ts
  frontend/public/locales/en/meta.json
  frontend/public/locales/ko/meta.json
  frontend/src/components/Header/index.tsx
  frontend/src/components/Profile/PinnedRepository/index.tsx
  frontend/src/components/Ranking/OverallRanking/index.tsx
  frontend/src/components/common/Avatar/index.tsx
  frontend/src/pages/404.tsx
  frontend/src/pages/about.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/ranking.tsx
  frontend/src/type/response.ts
  frontend/src/utils/fonts.ts
  frontend/src/utils/utils.ts
Labels: :art: frontend, :gear: backend

#266 Refactor: ranking and searchbar
  frontend/public/locales/en/ranking.json
  frontend/public/locales/ko/ranking.json
  frontend/src/hooks/useInput.ts
  frontend/src/pages/ranking.tsx
Labels: :art: frontend, :hammer_and_wrench: refactor

#267 v0.1.4 배포
  frontend/public/locales/en/ranking.json
  frontend/public/locales/ko/ranking.json
  frontend/src/apis/ranking.ts
  frontend/src/hooks/useInput.ts
  frontend/src/pages/ranking.tsx
Labels: :art: frontend

#270 Refactor: 프론트 엔드 큐브 로고 변경 및 리팩토링
  frontend/public/icons/devrank-logo-large.svg
  frontend/public/icons/ranking-1st.svg
  frontend/public/icons/ranking-2nd.svg
  frontend/public/icons/ranking-3rd.svg
  frontend/public/locales/en/header.json
  frontend/public/locales/ko/header.json
  frontend/public/locales/ko/profile.json
  frontend/src/components/Profile/CommitHistory/index.tsx
  frontend/src/components/Profile/EXPbar/index.tsx
  frontend/src/components/Profile/ProfileCard/index.tsx
  frontend/src/components/Ranking/OverallRanking/index.tsx
  frontend/src/components/Ranking/ViewsRanking/index.tsx
  frontend/src/components/common/CubeLogo/index.tsx
  frontend/src/pages/index.tsx
  frontend/src/styles/theme.ts
  frontend/src/utils/constants.ts
Labels: :art: frontend, :hammer_and_wrench: refactor

#268 Fix: score값에 null이 들어가던 오류 수정
  backend/src/user/user.service.ts
Labels: :gear: backend

#269 Fix: 사용되지 않는 변수 제거
  backend/src/batch/batch.service.ts
Labels: :gear: backend

#272 Feature: dynamic og image
  frontend/package.json
  frontend/public/fonts/line-seed-kr-regular.woff
  frontend/src/pages/api/og-image.tsx
  frontend/src/pages/profile/[username].tsx
  frontend/yarn.lock
Labels: :sparkles: feature, :art: frontend

#271 Feature: 메인페이지 searchbar 로딩 추가
  frontend/src/pages/index.tsx
Labels: :sparkles: feature, :art: frontend

#274 fix: router bug
  frontend/src/pages/index.tsx
Labels: :lady_beetle: bug, :art: frontend

#276 v0.1.5 배포
  backend/src/batch/batch.service.ts
  backend/src/user/user.service.ts
  frontend/package.json
  frontend/public/fonts/line-seed-kr-regular.woff
  frontend/public/icons/devrank-logo-large.svg
  frontend/public/icons/ranking-1st.svg
  frontend/public/icons/ranking-2nd.svg
  frontend/public/icons/ranking-3rd.svg
  frontend/public/locales/en/header.json
  frontend/public/locales/ko/header.json
  frontend/public/locales/ko/profile.json
  frontend/src/components/Profile/CommitHistory/index.tsx
  frontend/src/components/Profile/EXPbar/index.tsx
  frontend/src/components/Profile/ProfileCard/index.tsx
  frontend/src/components/Ranking/OverallRanking/index.tsx
  frontend/src/components/Ranking/ViewsRanking/index.tsx
  frontend/src/components/common/CubeLogo/index.tsx
  frontend/src/pages/api/og-image.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/profile/[username].tsx
  frontend/src/styles/theme.ts
  frontend/src/utils/constants.ts
  frontend/yarn.lock
Labels: :art: frontend, :gear: backend

#279 Refactor: 검색시 로딩 과정 수정
  frontend/src/components/common/Searchbar/AutoComplete/index.tsx
  frontend/src/pages/index.tsx
Labels: :art: frontend, :hammer_and_wrench: refactor

#280 Refactor: Refresh 시 RTR 문제 해결
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
Labels: :gear: backend

#273 Refactor: 프론트엔드 리팩토링
  frontend/src/components/Profile/ProfileCard/index.tsx
  frontend/src/components/common/LanguageIcon/index.tsx
  frontend/src/pages/404.tsx
  frontend/src/pages/about.tsx
  frontend/src/pages/callback.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/profile/404.tsx
  frontend/src/pages/profile/[username].tsx
  frontend/src/pages/ranking.tsx
  frontend/src/utils/utils.ts
  frontend/src/utils/wrapper.ts
Labels: :art: frontend, :hammer_and_wrench: refactor

#281 v0.1.6 배포
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  frontend/src/components/Profile/ProfileCard/index.tsx
  frontend/src/components/common/LanguageIcon/index.tsx
  frontend/src/components/common/Searchbar/AutoComplete/index.tsx
  frontend/src/pages/404.tsx
  frontend/src/pages/about.tsx
  frontend/src/pages/callback.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/profile/404.tsx
  frontend/src/pages/profile/[username].tsx
  frontend/src/pages/ranking.tsx
  frontend/src/utils/utils.ts
  frontend/src/utils/wrapper.ts
Labels: :art: frontend, :gear: backend

#282 feat: total contribution 점수에 포함
  backend/src/user/user.service.ts
Labels: :gear: backend

#283 v0.1.7 배포
  backend/src/user/user.service.ts
Labels: :gear: backend

#284 Feature: 유저 등수 정보 refresh
  backend/src/user/user.repository.ts
  backend/src/user/user.service.ts
Labels: :gear: backend

#285 Fix: Correct minor typos
  backend/src/user/dto/history.dto.ts
  backend/src/user/user.service.ts
  frontend/public/locales/en/about.json
  frontend/public/locales/ko/about.json
  frontend/src/pages/about.tsx
  frontend/src/pages/profile/[username].tsx
  frontend/src/type/common.ts
Labels: :art: frontend, :gear: backend

#287 Feature: 프로필 페이지 score history 추가
  frontend/src/components/Chart/LineChart.tsx
  frontend/src/components/Chart/LineChart/index.tsx
  frontend/src/components/Chart/PieChart/index.tsx
  frontend/src/components/Chart/Tooltip/index.tsx
  frontend/src/components/Chart/index.ts
  frontend/src/components/Profile/ContributionStatistic/index.tsx
  frontend/src/components/Profile/Statistic/index.tsx
  frontend/src/components/Profile/index.ts
  frontend/src/pages/profile/[username].tsx
  frontend/src/type/common.ts
  frontend/src/type/response.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/utils.ts
Labels: :sparkles: feature, :art: frontend, :hammer_and_wrench: refactor

#286 Feature: 자신의 프로필인 경우 수동 업데이트 제한 없앰
  frontend/src/apis/auth.ts
  frontend/src/components/Profile/ProfileCard/index.tsx
  frontend/src/components/Profile/ProfileRefreshButton/index.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/profile/[username].tsx
  frontend/src/utils/axiosInstance.ts
Labels: :sparkles: feature, :art: frontend

#291 Feature: 국제화 스크립트 추가
  frontend/public/locales/en/about.json
  frontend/public/locales/en/profile.json
  frontend/public/locales/ko/about.json
  frontend/public/locales/ko/profile.json
  frontend/src/components/Profile/ProfileRefreshButton/index.tsx
  frontend/src/pages/about.tsx
Labels: :sparkles: feature, :art: frontend

#292 v0.1.8
  backend/src/auth/auth.controller.ts
  backend/src/ranking/ranking.controller.ts
  backend/src/ranking/ranking.service.ts
  backend/src/user/dto/history.dto.ts
  backend/src/user/dto/user.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.repository.ts
  backend/src/user/user.schema.ts
  backend/src/user/user.service.ts
  frontend/public/locales/en/about.json
  frontend/public/locales/en/profile.json
  frontend/public/locales/ko/about.json
  frontend/public/locales/ko/profile.json
  frontend/src/apis/auth.ts
  frontend/src/components/Chart/LineChart.tsx
  frontend/src/components/Chart/LineChart/index.tsx
  frontend/src/components/Chart/PieChart/index.tsx
  frontend/src/components/Chart/Tooltip/index.tsx
  frontend/src/components/Chart/index.ts
  frontend/src/components/Profile/ContributionStatistic/index.tsx
  frontend/src/components/Profile/ProfileCard/index.tsx
  frontend/src/components/Profile/ProfileRefreshButton/index.tsx
  frontend/src/components/Profile/Statistic/index.tsx
  frontend/src/components/Profile/index.ts
  frontend/src/pages/about.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/profile/[username].tsx
  frontend/src/type/common.ts
  frontend/src/type/response.ts
  frontend/src/utils/axiosInstance.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/utils.ts
Labels: :art: frontend, :gear: backend

#293 Fix: 불필요하게 업데이트되는 user 정보 로직 제거
  backend/src/user/user.service.ts
Labels: :gear: backend

#294 Refactor: og image 버그 수정
  frontend/src/apis/auth.ts
  frontend/src/pages/api/og-image.tsx
Labels: :lady_beetle: bug, :art: frontend

#295 Fix: 로그인 유지
  frontend/src/components/Header/index.tsx
  frontend/src/hooks/useQueryData.ts
  frontend/src/pages/404.tsx
  frontend/src/pages/about.tsx
Labels: :lady_beetle: bug, :art: frontend, :hammer_and_wrench: refactor

#296 v0.1.9
  backend/src/user/user.service.ts
  frontend/src/apis/auth.ts
  frontend/src/components/Header/index.tsx
  frontend/src/hooks/useQueryData.ts
  frontend/src/pages/404.tsx
  frontend/src/pages/about.tsx
  frontend/src/pages/api/og-image.tsx
Labels: :art: frontend, :gear: backend

#297 Refactor: 오늘날짜와 같은 경우 scoreHistory 업데이트
  backend/src/batch/batch.service.ts
  backend/src/user/user.service.ts
Labels: :gear: backend

#300 Refactor: 프로필 페이지 사용자 에러 핸들링 및 로그아웃 버그 수정
  frontend/public/icons/cube-large-background.svg
  frontend/public/icons/cube/cube-small-invalid.svg
  frontend/public/locales/en/profile.json
  frontend/public/locales/ko/profile.json
  frontend/src/components/Header/index.tsx
  frontend/src/components/Profile/ProfileCard/index.tsx
  frontend/src/components/Ranking/NotFound/index.tsx
  frontend/src/components/common/CubeLogo/index.tsx
  frontend/src/pages/404.tsx
  frontend/src/pages/profile/404.tsx
  frontend/src/pages/profile/[username].tsx
  frontend/src/pages/ranking.tsx
  frontend/src/type/response.ts
  frontend/src/utils/constants.ts
Labels: :lady_beetle: bug, :art: frontend, :hammer_and_wrench: refactor

#299 Feature: 업데이트 실패 유저 조회 시 예외 처리
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
Labels: :sparkles: feature, :gear: backend

#301 v0.2.0 배포
  README.md
  backend/src/batch/batch.service.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
  frontend/public/icons/cube-large-background.svg
  frontend/public/icons/cube/cube-small-invalid.svg
  frontend/public/locales/en/profile.json
  frontend/public/locales/ko/profile.json
  frontend/src/components/Chart/LineChart/index.tsx
  frontend/src/components/Chart/theme.json
  frontend/src/components/Header/index.tsx
  frontend/src/components/Profile/ProfileCard/index.tsx
  frontend/src/components/Ranking/NotFound/index.tsx
  frontend/src/components/common/CubeLogo/index.tsx
  frontend/src/pages/404.tsx
  frontend/src/pages/profile/404.tsx
  frontend/src/pages/profile/[username].tsx
  frontend/src/pages/ranking.tsx
  frontend/src/type/response.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/utils.ts
Labels: :art: frontend, :gear: backend

#302 Fix: history type error 수정
  frontend/src/components/Profile/Statistic/index.tsx
  frontend/src/pages/profile/[username].tsx
Labels: :lady_beetle: bug, :art: frontend

#303 v0.2.1
  frontend/src/components/Profile/Statistic/index.tsx
  frontend/src/pages/profile/[username].tsx
Labels: :art: frontend

#304 Fix: update bug
  backend/libs/common/filters/http-exception.filter.ts
  backend/src/user/user.service.ts
Labels: :lady_beetle: bug, :gear: backend

#305 v0.2.2 배포
  backend/libs/common/filters/http-exception.filter.ts
  backend/src/user/user.service.ts
Labels: :gear: backend

#306 Feature: 소개 페이지 개발자 소개 수정
  frontend/src/pages/about.tsx
  frontend/src/utils/constants.ts
Labels: :sparkles: feature, :art: frontend

#307 v0.2.3
  frontend/src/pages/about.tsx
  frontend/src/utils/constants.ts
Labels: :art: frontend

#310 fix: 유저 업데이트 실패 시 log에 이름 기록
  backend/src/user/user.service.ts
Labels: :gear: backend

#309 v0.2.4 배포
  backend/src/user/user.service.ts
Labels: :gear: backend

#311 Fix: date timezone 설정
  backend/src/user/user.service.ts
Labels: :gear: backend

#313 v0.2.5 배포
  README.md
  backend/src/user/user.service.ts
Labels: :gear: backend

#320 Fix: 랭킹 컴포넌트 UI 깨지는 문제 해결
  frontend/src/components/Ranking/LanguageRanking/index.tsx
  frontend/src/components/Ranking/RankingTable/index.tsx
  frontend/src/pages/ranking.tsx
Labels: :lady_beetle: bug, :art: frontend

#318 Fix: 한국 시간 기준으로 12시에 일일 조회수 초기화 되도록 수정
  backend/libs/consts/index.ts
  backend/src/user/user.repository.ts
  backend/src/user/user.service.ts
Labels: :gear: backend

#324 Feature: realtime ranking
  backend/src/app.controller.ts
  backend/src/app.service.ts
  backend/src/auth/auth.service.ts
  backend/src/ranking/dto/ranking-user.dto.ts
  backend/src/ranking/ranking.service.ts
  backend/src/user/dto/rank.dto.ts
  backend/src/user/dto/user.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.repository.ts
  backend/src/user/user.service.ts
Labels: :sparkles: feature, :gear: backend

#329 Feature: robots, sitemap 설정
  frontend/package.json
  frontend/public/robots.txt
  frontend/src/components/common/HeadMeta/index.tsx
  frontend/src/pages/sitemap.tsx
  frontend/yarn.lock
Labels: :sparkles: feature, :art: frontend

#330 Refactor: function name 수정
  frontend/src/components/Profile/Statistic/index.tsx
  frontend/src/utils/utils.ts
Labels: :art: frontend, :hammer_and_wrench: refactor

#332 Refactor: language icon 소스 변경
  frontend/next.config.js
  frontend/src/components/common/LanguageIcon/index.tsx
  frontend/src/utils/constants.ts
  frontend/src/utils/utils.ts
Labels: :art: frontend, :hammer_and_wrench: refactor

#333 Refactor: 랭킹페이지 url 필터링 수정
  frontend/src/utils/utils.ts
Labels: :art: frontend, :hammer_and_wrench: refactor

#327 Refactor: SSR, SSG wrapper HOF 리팩토링
  frontend/src/pages/index.tsx
  frontend/src/pages/profile/[username].tsx
  frontend/src/pages/ranking.tsx
  frontend/src/utils/utils.ts
  frontend/src/utils/wrapper.ts
Labels: :art: frontend, :hammer_and_wrench: refactor

#334 Refactor: i18n 코드 리팩토링
  frontend/public/locales/en/about.json
  frontend/public/locales/en/meta.json
  frontend/public/locales/en/profile.json
  frontend/public/locales/en/ranking.json
  frontend/public/locales/ko/about.json
  frontend/public/locales/ko/meta.json
  frontend/public/locales/ko/profile.json
  frontend/public/locales/ko/ranking.json
  frontend/src/components/Profile/ProfileCard/index.tsx
  frontend/src/components/Profile/ProfileRefreshButton/index.tsx
  frontend/src/pages/about.tsx
  frontend/src/pages/profile/[username].tsx
  frontend/src/pages/ranking.tsx
  frontend/src/utils/constants.ts
  frontend/src/utils/utils.ts
Labels: :art: frontend, :hammer_and_wrench: refactor

#336 Feature: tierrank cache
  backend/src/ranking/dto/ranking-user.dto.ts
  backend/src/ranking/ranking.service.ts
  backend/src/user/dto/user.dto.ts
  backend/src/user/user.repository.ts
  backend/src/user/user.schema.ts
Labels: :gear: backend

#337 Fix: wrapper callback 반환값 없을 때 타입 void 처리
  frontend/src/utils/wrapper.ts
Labels: :lady_beetle: bug, :art: frontend

#340 Feature: 500 오류 페이지 구현
  frontend/public/locales/en/500.json
  frontend/public/locales/en/meta.json
  frontend/public/locales/ko/500.json
  frontend/public/locales/ko/meta.json
  frontend/src/pages/_error.tsx
Labels: :sparkles: feature, :art: frontend

#339 Refactor: 랭킹페이지, 랭킹 컴포넌트
  frontend/src/components/Ranking/RankingTable/index.tsx
  frontend/src/pages/ranking.tsx
  frontend/src/type/response.ts
  frontend/src/utils/constants.ts
Labels: :art: frontend, :hammer_and_wrench: refactor

#341 Refactor: RankingTable 컴포넌트 Body 추가
  frontend/src/components/Ranking/LanguageRanking/index.tsx
  frontend/src/components/Ranking/OverallRanking/index.tsx
  frontend/src/components/Ranking/RankingTable/index.tsx
  frontend/src/components/Ranking/RisingRanking/index.tsx
  frontend/src/components/Ranking/ViewsRanking/index.tsx
  frontend/src/pages/ranking.tsx
Labels: :art: frontend, :hammer_and_wrench: refactor

#338 v0.2.6 배포
  README.md
  backend/libs/consts/index.ts
  backend/src/app.controller.ts
  backend/src/app.service.ts
  backend/src/auth/auth.service.ts
  backend/src/ranking/dto/ranking-user.dto.ts
  backend/src/ranking/ranking.service.ts
  backend/src/user/dto/rank.dto.ts
  backend/src/user/dto/user.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.repository.ts
  backend/src/user/user.schema.ts
  backend/src/user/user.service.ts
  frontend/next.config.js
  frontend/package.json
  frontend/public/locales/en/500.json
  frontend/public/locales/en/about.json
  frontend/public/locales/en/meta.json
  frontend/public/locales/en/profile.json
  frontend/public/locales/en/ranking.json
  frontend/public/locales/ko/500.json
  frontend/public/locales/ko/about.json
  frontend/public/locales/ko/meta.json
  frontend/public/locales/ko/profile.json
  frontend/public/locales/ko/ranking.json
  frontend/public/robots.txt
  frontend/src/components/Profile/ProfileCard/index.tsx
  frontend/src/components/Profile/ProfileRefreshButton/index.tsx
  frontend/src/components/Profile/Statistic/index.tsx
  frontend/src/components/Ranking/LanguageRanking/index.tsx
  frontend/src/components/Ranking/OverallRanking/index.tsx
  frontend/src/components/Ranking/RankingTable/index.tsx
  frontend/src/components/Ranking/RisingRanking/index.tsx
  frontend/src/components/Ranking/ViewsRanking/index.tsx
  frontend/src/components/common/HeadMeta/index.tsx
  frontend/src/components/common/LanguageIcon/index.tsx
  frontend/src/pages/_error.tsx
  frontend/src/pages/about.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/profile/[username].tsx
  frontend/src/pages/ranking.tsx
  frontend/src/pages/sitemap.tsx
  frontend/src/type/response.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/utils.ts
  frontend/src/utils/wrapper.ts
  frontend/yarn.lock
Labels: :art: frontend, :gear: backend

#345 Feature: header 세팅
  frontend/src/utils/wrapper.ts
Labels: :art: frontend

#342 Refactor: month label
  frontend/src/components/Profile/CommitHistory/index.tsx
  frontend/src/components/Profile/PinnedRepository/index.tsx
  frontend/src/components/Ranking/RisingRanking/index.tsx
  frontend/src/utils/constants.ts
  frontend/src/utils/utils.ts
Labels: :art: frontend, :hammer_and_wrench: refactor

#346 v0.2.7 배포
  frontend/src/components/Profile/CommitHistory/index.tsx
  frontend/src/components/Profile/PinnedRepository/index.tsx
  frontend/src/components/Ranking/RisingRanking/index.tsx
  frontend/src/utils/constants.ts
  frontend/src/utils/utils.ts
  frontend/src/utils/wrapper.ts
Labels: :art: frontend

#347 refactor: cube image size
  frontend/next-sitemap.config.js
  frontend/public/icons/cube/cube-small-all.svg
  frontend/public/icons/cube/cube-small-mint.svg
  frontend/public/icons/cube/cube-small-orange.svg
Labels: :art: frontend

#348 v0.2.8 배포
  frontend/next-sitemap.config.js
  frontend/public/icons/cube/cube-small-all.svg
  frontend/public/icons/cube/cube-small-mint.svg
  frontend/public/icons/cube/cube-small-orange.svg
Labels: :art: frontend

#349 Fix: 업데이트 버튼 무한 rerender 수정
  .gitignore
  frontend/src/components/Profile/ProfileRefreshButton/index.tsx
  frontend/src/hooks/useInterval.ts
Labels: :lady_beetle: bug, :art: frontend

#350 Refactor: refresh button error handling
  frontend/src/pages/profile/[username].tsx
  frontend/src/utils/axiosInstance.ts
Labels: :art: frontend, :hammer_and_wrench: refactor

#355 Fix: fork commit limit
  backend/libs/consts/index.ts
  backend/src/user/utils/query.ts
Labels: :gear: backend

#353 v0.2.9 배포
  .gitignore
  backend/libs/consts/index.ts
  backend/src/user/utils/query.ts
  frontend/src/components/Profile/ProfileRefreshButton/index.tsx
  frontend/src/hooks/useInterval.ts
  frontend/src/pages/profile/[username].tsx
  frontend/src/utils/axiosInstance.ts
Labels: :art: frontend, :gear: backend
