Repository boostcampwm-2022/web21-devrank, pull requests merged in 2022-11, with the labels that each got.

#1 init: nest init
  backend/.eslintrc.js
  backend/.gitignore
  backend/.prettierrc
  backend/README.md
  backend/nest-cli.json
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/main.ts
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/tsconfig.build.json
  backend/tsconfig.json
  backend/yarn.lock
Labels: :gear: backend, :bricks: setting

#2 chore: 백엔드 eslint, prettier 설정
  backend/.eslintrc.js
  backend/.prettierrc
  backend/package.json
  backend/yarn.lock
Labels: :hankey: invalid, :gear: backend, :bricks: setting

#5 chore: frontend eslint 및 prettier 설정파일 작성
  frontend/.eslintrc.json
  frontend/.prettierrc
Labels: :art: frontend, :bricks: setting

#6 ci: update auto-author-assign v1.4.0 to v1.6.1
  .github/workflows/auto-author-assign.yml
Labels: :package: ci/cd

#9 ci: add add-to-project workflow
  .github/workflows/add-to-project.yml
Labels: :package: ci/cd

#26 Feature: user schema
  backend/libs/common/middlewares/console-logger.middleware.ts
  backend/package.json
  backend/sample.env
  backend/src/app.module.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.repository.ts
  backend/src/user/user.schema.ts
  backend/src/user/user.service.ts
  backend/yarn.lock
Labels: :sparkles: feature, :gear: backend

#27 Feature: auth
  backend/package.json
  backend/sample.env
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/jwt.guard.ts
  backend/src/auth/jwt.strategy.ts
  backend/yarn.lock
Labels: :sparkles: feature, :gear: backend

#28 Chore: frontend 초기 설정
  frontend/.eslintrc.js
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.prettierrc
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/README.md
  frontend/next.config.js
  frontend/package.json
  frontend/public/favicon.ico
  frontend/src/components/common/LanguageIcon.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/common/types.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/_document.tsx
  frontend/src/pages/index.tsx
  frontend/src/styles/globalStyles.ts
  frontend/src/styles/styled.d.ts
  frontend/src/styles/theme.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/utils.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: :art: frontend, :bricks: setting

#31 Feature: Footer 컴포넌트 구현
  frontend/.storybook/main.js
  frontend/package.json
  frontend/public/icons/github.svg
  frontend/public/locales/en/footer.json
  frontend/public/locales/ko/footer.json
  frontend/src/components/Footer/Footer.stories.tsx
  frontend/src/components/Footer/index.tsx
  frontend/src/components/Layout/index.tsx
  frontend/src/components/common/LanguageIcon.tsx
  frontend/src/components/common/types.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/index.tsx
  frontend/src/styles/styled.d.ts
  frontend/src/styles/theme.ts
  frontend/src/types/index.ts
  frontend/src/utils/constants.ts
  frontend/yarn.lock
Labels: :art: frontend, :framed_picture: style, :bricks: setting

#32 Feature: jwt github auth
  backend/libs/common/filters/http-exception.filter.ts
  backend/package.json
  backend/sample.env
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.decorator.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/github-auth/github-auth.guard.ts
  backend/src/auth/github-auth/github-auth.module.ts
  backend/src/auth/github-auth/github-auth.strategy.ts
  backend/src/auth/jwt-auth/jwt-auth.guard.ts
  backend/src/auth/jwt-auth/jwt-auth.module.ts
  backend/src/auth/jwt-auth/jwt-auth.strategy.ts
  backend/src/auth/jwt.guard.ts
  backend/src/auth/types/github-profile.interface.ts
  backend/src/auth/types/index.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.repository.ts
  backend/src/user/user.schema.ts
  backend/src/user/user.service.ts
  backend/tsconfig.json
  backend/yarn.lock
Labels: :sparkles: feature

#33 ci: add labeler workflow
  .github/labeler.yml
  .github/workflows/label.yml
Labels: :package: ci/cd

#34 Feature: header 컴포넌트 추가
  frontend/public/icons/devrank-logo-large.svg
  frontend/public/icons/devrank-logo.svg
  frontend/public/icons/globe.svg
  frontend/src/components/Header/index.tsx
  frontend/src/components/Layout/index.tsx
  frontend/src/components/common/Button.stories.tsx
  frontend/src/components/common/Button.tsx
  frontend/src/components/common/index.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/_document.tsx
  frontend/src/pages/index.tsx
  frontend/src/styles/globalStyles.ts
  frontend/src/styles/theme.ts
  frontend/src/types/index.ts
  frontend/yarn.lock
Labels: :sparkles: feature, :art: frontend, :framed_picture: style

#38 Fix: Storybook static files 폴더 설정 수정
  frontend/.storybook/main.js
  frontend/package.json
Labels: :art: frontend, :bricks: setting

#40 Feature: header layout 수정 및 추가
  frontend/public/icons/devrank-logo.svg
  frontend/public/icons/logo-main.svg
  frontend/public/icons/logout.svg
  frontend/public/icons/profile.svg
  frontend/public/icons/search.svg
  frontend/public/locales/en/common.json
  frontend/public/locales/ko/common.json
  frontend/public/profile-dummy.png
  frontend/src/components/Header/index.tsx
  frontend/src/components/common/Avatar/index.tsx
  frontend/src/components/common/Button/Button.stories.tsx
  frontend/src/components/common/Button/index.tsx
  frontend/src/components/common/Dropdown/Dropdown.stories.tsx
  frontend/src/components/common/Dropdown/Dropdown.tsx
  frontend/src/components/common/Dropdown/DropdownItem.tsx
  frontend/src/components/common/Dropdown/index.ts
  frontend/src/components/common/LanguageIcon/index.tsx
  frontend/src/components/common/index.ts
  frontend/src/contexts/authContext.ts
  frontend/src/hooks/useDropdown.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/index.tsx
  frontend/src/types/index.ts
Labels: :sparkles: feature, :art: frontend, :framed_picture: style

#39 Feature: redis connect
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.decorator.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.repository.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/github-auth/github-auth.guard.ts
  backend/src/auth/github-auth/github-auth.module.ts
  backend/src/auth/github-auth/github-auth.strategy.ts
  backend/src/auth/jwt-auth/jwt-auth.guard.ts
  backend/src/auth/types/github-profile.interface.ts
  backend/src/main.ts
  backend/src/user/dto/user.dto.ts
  backend/src/user/repository.repository.ts
  backend/src/user/repository.service.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.repository.ts
  backend/src/user/user.schema.ts
  backend/src/user/user.service.ts
  backend/yarn.lock
Labels: :sparkles: feature, :gear: backend

#42 Feat: user의 score 업데이트
  backend/package.json
  backend/src/auth/auth.controller.ts
  backend/src/auth/dto/login-request.dto.ts
  backend/src/main.ts
  backend/src/user/dto/user.dto.ts
  backend/src/user/repository.schema.ts
  backend/src/user/repository.service.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.repository.ts
  backend/src/user/user.schema.ts
  backend/src/user/user.service.ts
  backend/yarn.lock
Labels: :gear: backend

#47 Feature: 로그인 로직 구현
  frontend/.eslintrc.js
  frontend/.prettierrc
  frontend/next.config.js
  frontend/package.json
  frontend/src/apis/auth.ts
  frontend/src/components/Footer/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/common/Avatar/index.tsx
  frontend/src/components/common/Button/Button.stories.tsx
  frontend/src/components/common/Button/index.tsx
  frontend/src/components/common/Dropdown/Dropdown.stories.tsx
  frontend/src/components/common/Dropdown/DropdownItem.tsx
  frontend/src/components/common/Dropdown/index.ts
  frontend/src/components/common/Spinner/Spinner.stories.tsx
  frontend/src/components/common/Spinner/index.tsx
  frontend/src/components/common/index.ts
  frontend/src/contexts/authContext.ts
  frontend/src/hooks/useDropdown.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/_document.tsx
  frontend/src/pages/callback.tsx
  frontend/src/pages/index.tsx
  frontend/src/styles/globalStyles.ts
  frontend/src/types/index.ts
  frontend/src/utils/axiosInstance.ts
  frontend/src/utils/constants.ts
  frontend/tsconfig.eslint.json
  frontend/yarn.lock
Labels: :sparkles: feature, :art: frontend

#51 Feature: 유저 로그아웃 구현
  frontend/src/apis/auth.ts
  frontend/src/components/Header/index.tsx
  frontend/src/components/common/Dropdown/DropdownItem.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useQueryData.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/callback.tsx
  frontend/src/types/index.ts
Labels: :sparkles: feature, :art: frontend

#54 Features: swagger auth
  backend/src/auth/auth.controller.ts
  backend/src/main.ts
  backend/src/user/user.controller.ts
Labels: :sparkles: feature, :gear: backend

#55 Feature: 로그인 유지 구현
  frontend/next.config.js
  frontend/src/apis/auth.ts
  frontend/src/components/Header/index.tsx
  frontend/src/components/common/Avatar/index.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useQueryData.ts
  frontend/src/hooks/useRefresh.ts
  frontend/src/pages/index.tsx
Labels: :sparkles: feature, :art: frontend

#59 fix: octokit/rest를 octokit/core로 통합
  backend/src/user/dto/user.dto.ts
  backend/src/user/user.service.ts
Labels: :gear: backend, :hammer_and_wrench: refactor

#60 Feature: follower score
  backend/src/user/dto/user.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.schema.ts
  backend/src/user/user.service.ts
Labels: :sparkles: feature, :gear: backend

#64 Feature: i18n 설정 구현
  frontend/public/locales/en/common.json
  frontend/src/components/Header/index.tsx
  frontend/src/pages/callback.tsx
Labels: :sparkles: feature, :art: frontend

#63 [Feature]: 메인페이지 Ranking 컴포넌트 추가
  frontend/.storybook/main.js
  frontend/package.json
  frontend/public/icons/cube/cube-small-all.svg
  frontend/public/icons/cube/cube-small-blue.svg
  frontend/public/icons/cube/cube-small-green.svg
  frontend/public/icons/cube/cube-small-mint.svg
  frontend/public/icons/cube/cube-small-orange.svg
  frontend/public/icons/cube/cube-small-purple.svg
  frontend/public/icons/cube/cube-small-red.svg
  frontend/public/icons/cube/cube-small-yellow.svg
  frontend/src/components/Ranking/Ranking.stories.tsx
  frontend/src/components/Ranking/index.tsx
  frontend/src/components/common/Avatar/Avatar.stories.tsx
  frontend/src/components/common/Avatar/index.tsx
  frontend/src/components/common/CubeIcon/index.tsx
  frontend/src/pages/index.tsx
  frontend/src/styles/theme.ts
  frontend/src/utils/mockData.ts
  frontend/yarn.lock
Labels: :sparkles: feature, :art: frontend, :framed_picture: style

#62 Feature: 404 Not found 페이지 구현
  frontend/public/fonts/LINESeedKR-Bd.woff2
  frontend/public/fonts/LINESeedKR-Rg.woff2
  frontend/public/fonts/LINESeedKR-Th.woff2
  frontend/public/icons/cube-large-background.svg
  frontend/src/components/Header/index.tsx
  frontend/src/components/Layout/index.tsx
  frontend/src/hooks/useRefresh.ts
  frontend/src/pages/404.tsx
  frontend/src/pages/_app.tsx
  frontend/src/utils/fonts.ts
Labels: :sparkles: feature, :art: frontend

#71 Feature: 메인페이지 레이아웃
  frontend/src/components/Layout/index.tsx
  frontend/src/components/common/Searchbar/Searchbar.stories.tsx
  frontend/src/components/common/Searchbar/index.tsx
  frontend/src/pages/404.tsx
  frontend/src/pages/index.tsx
  frontend/src/styles/globalStyles.ts
  frontend/src/types/index.ts
Labels: :art: frontend, :framed_picture: style

#77 Feature: 국제화 언어 표시 수정
  frontend/public/locales/en/common.json
  frontend/public/locales/ko/common.json
  frontend/src/components/Header/index.tsx
  frontend/src/pages/index.tsx
Labels: :art: frontend, :hammer_and_wrench: refactor

#78 Fix: 로그인 오류 수정
  frontend/src/components/Header/index.tsx
  frontend/src/components/common/Searchbar/index.tsx
Labels: :lady_beetle: bug, :art: frontend

#80 Feature: storybook i18n
  frontend/.storybook/i18n.js
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/package.json
  frontend/yarn.lock
Labels: :art: frontend, :bricks: setting

#81 Refactor: 프론트엔드 리팩토링
  frontend/.storybook/main.js
  frontend/public/fonts/line-seed-kr-bold.woff2
  frontend/public/fonts/line-seed-kr-regular.woff2
  frontend/public/fonts/line-seed-kr-thin.woff2
  frontend/public/locales/en/404.json
  frontend/public/locales/en/common.json
  frontend/public/locales/ko/404.json
  frontend/src/components/Header/index.tsx
  frontend/src/components/Layout/index.tsx
  frontend/src/components/Ranking/Ranking.stories.tsx
  frontend/src/components/Ranking/index.tsx
  frontend/src/components/common/Avatar/index.tsx
  frontend/src/components/common/Button/index.tsx
  frontend/src/components/common/Dropdown/Dropdown.stories.tsx
  frontend/src/components/common/Dropdown/DropdownItem.tsx
  frontend/src/components/common/Dropdown/index.ts
  frontend/src/components/common/Dropdown/index.tsx
  frontend/src/components/common/LanguageIcon/index.tsx
  frontend/src/components/common/Searchbar/index.tsx
  frontend/src/components/common/Spinner/Spinner.stories.tsx
  frontend/src/components/common/Spinner/index.tsx
  frontend/src/components/common/index.ts
  frontend/src/contexts/authContext.ts
  frontend/src/pages/404.tsx
  frontend/src/pages/callback.tsx
  frontend/src/pages/index.tsx
  frontend/src/type/common.ts
  frontend/src/type/index.ts
  frontend/src/utils/fonts.ts
  frontend/src/utils/mockData.ts
Labels: :art: frontend, :hammer_and_wrench: refactor

#82 Feature: 랭킹 페이지 레이아웃
  frontend/public/icons/search.svg
  frontend/src/components/Filterbar/index.tsx
  frontend/src/components/common/Dropdown/index.tsx
  frontend/src/components/common/Searchbar/index.tsx
  frontend/src/pages/ranking.tsx
  frontend/src/utils/mockData.ts
Labels: :art: frontend, :framed_picture: style

#83 Feature: about 페이지 레이아웃 작성
  frontend/public/icons/link.svg
  frontend/public/locales/en/about.json
  frontend/public/locales/ko/about.json
  frontend/src/pages/about.tsx
  frontend/src/utils/constants.ts
Labels: :sparkles: feature, :art: frontend, :framed_picture: style

#84 Refactor: tsconfig.eslint.json파일 tsconfig.json으로 통합
  frontend/.eslintrc.js
  frontend/tsconfig.eslint.json
  frontend/tsconfig.json
Labels: :art: frontend, :hammer_and_wrench: refactor

#87 Fix: Github 로그인 인증 취소시 callback 처리
  frontend/src/pages/callback.tsx
  frontend/src/utils/constants.ts
Labels: :lady_beetle: bug, :art: frontend

#85 Feature: Ranking API 작성
  backend/src/user/dto/response-ranking.dto.ts
  backend/src/user/dto/response-rankings.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.schema.ts
  backend/src/user/user.service.ts
Labels: :sparkles: feature, :gear: backend

#89 Feature: ranking search
  backend/src/auth/auth.controller.ts
  backend/src/auth/strategies/jwt.strategy.ts
  backend/src/auth/strategies/refresh.strategy.ts
  backend/src/auth/types/index.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.repository.ts
  backend/src/user/user.schema.ts
  backend/src/user/user.service.ts
Labels: :sparkles: feature, :gear: backend

#90 Feature: 메인페이지 랭킹 API
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.repository.ts
  backend/src/ranking/dto/response-ranking.dto.ts
  backend/src/ranking/ranking.controller.ts
  backend/src/ranking/ranking.module.ts
  backend/src/ranking/ranking.service.ts
  backend/src/user/dto/response-rankings.dto.ts
  backend/src/user/dto/user.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.repository.ts
  backend/src/user/user.schema.ts
  backend/src/user/user.service.ts
  backend/yarn.lock
Labels: :sparkles: feature, :gear: backend, :hammer_and_wrench: refactor

#93 Feature: findUser 메소드 명을 컨벤션에 맞게 수정
  backend/libs/const/expiration.ts
  backend/libs/const/index.ts
  backend/src/user/user.controller.ts
Labels: :gear: backend, :hammer_and_wrench: refactor

#99 Feature: 랭킹 페이지 pagination API 및 MongoDB index 설정
  backend/libs/common/decorators/user-github-token.decorator.ts
  backend/libs/utils/index.ts
  backend/libs/utils/utils.ts
  backend/src/auth/auth.controller.ts
  backend/src/ranking/dto/response-ranking.dto.ts
  backend/src/ranking/ranking.controller.ts
  backend/src/ranking/ranking.service.ts
  backend/src/user/dto/user.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.repository.ts
  backend/src/user/user.schema.ts
  backend/src/user/user.service.ts
Labels: :sparkles: feature, :gear: backend

#96 Feature: 메인 페이지 랭킹(전체, 급상승, 일일조회수) 백엔드 데이터 적용
  frontend/next.config.js
  frontend/src/apis/auth.ts
  frontend/src/apis/ranking.ts
  frontend/src/hooks/useRefresh.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/callback.tsx
  frontend/src/pages/index.tsx
  frontend/src/type/response.ts
  frontend/src/utils/axiosInstance.ts
Labels: :sparkles: feature, :art: frontend, :hammer_and_wrench: refactor

#100 Test: 컴포넌트 story 작성
  frontend/src/components/Filterbar/index.tsx
  frontend/src/components/Ranking/index.tsx
  frontend/src/components/common/Avatar/index.tsx
  frontend/src/components/common/Button/index.tsx
  frontend/src/components/common/CubeIcon/CubeIcon.stories.tsx
  frontend/src/components/common/CubeIcon/index.tsx
  frontend/src/components/common/LanguageIcon/LanguageIcon.stories.tsx
  frontend/src/components/common/LanguageIcon/index.tsx
  frontend/src/components/common/Searchbar/index.tsx
  frontend/src/components/common/Spinner/index.tsx
Labels: :art: frontend, :hammer_and_wrench: refactor, :alembic: test

#101 Fix: 백엔드 ranking API 변경에 따른 프론트엔드 수정
  frontend/src/apis/ranking.ts
  frontend/src/pages/index.tsx
  frontend/src/type/response.ts
Labels: :lady_beetle: bug, :art: frontend

#103 Refactor: findAllByUsername에 페이지네이션 적용
  backend/src/ranking/ranking.controller.ts
  backend/src/ranking/ranking.service.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.repository.ts
  backend/src/user/user.service.ts
Labels: :gear: backend

#106 fix: 점수를 정수형으로 변환
  backend/src/user/user.schema.ts
Labels: :sparkles: feature, :gear: backend

#105 feat: 가입되지 않은 유저정보를 호출
  backend/src/user/user.repository.ts
  backend/src/user/user.service.ts
Labels: :sparkles: feature, :gear: backend

#111 Feature: 점수 산정에 시간가중치 적용
  backend/src/user/user.controller.ts
  backend/src/user/user.repository.ts
  backend/src/user/user.service.ts
Labels: :sparkles: feature, :gear: backend

#107 Feature: 랭킹 페이지 등급별 필터링 구현
  frontend/src/apis/ranking.ts
  frontend/src/components/common/Avatar/index.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/ranking.tsx
Labels: :sparkles: feature, :art: frontend

#114 Refactor: login 유지
  frontend/src/apis/auth.ts
  frontend/src/components/Header/index.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useRefresh.ts
  frontend/src/pages/404.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/about.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/ranking.tsx
Labels: :art: frontend, :hammer_and_wrench: refactor

#113 fix: node_id값이 적용되지 않아 user commit filter 되지 않던 문제 수정
  backend/src/user/user.service.ts
Labels: :lady_beetle: bug, :gear: backend

#120 Refactor: 프론트엔드 리팩토링
  frontend/src/components/Header/index.tsx
  frontend/src/hooks/useQueryData.ts
  frontend/src/pages/404.tsx
  frontend/src/pages/about.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/ranking.tsx
  frontend/src/styles/globalStyles.ts
Labels: :art: frontend, :hammer_and_wrench: refactor

#127 Feature: primary languages 정보 점수 산정시 추가
  backend/src/user/dto/user.dto.ts
  backend/src/user/user.schema.ts
  backend/src/user/user.service.ts
Labels: :lady_beetle: bug, :sparkles: feature, :gear: backend

#123 Feature: pagination meta
  backend/libs/consts/index.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.repository.ts
  backend/src/auth/auth.service.ts
  backend/src/main.ts
  backend/src/ranking/dto/ranking-pagination.dto.ts
  backend/src/ranking/dto/ranking-user.dto.ts
  backend/src/ranking/ranking.controller.ts
  backend/src/ranking/ranking.service.ts
  backend/src/user/dto/user.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.repository.ts
  backend/src/user/user.service.ts
Labels: :sparkles: feature, :gear: backend, :hammer_and_wrench: refactor

#128 feat: getMostUsedLanguages api
  backend/src/ranking/dto/ranking-language.dto.ts
  backend/src/ranking/ranking.controller.ts
  backend/src/ranking/ranking.service.ts
  backend/src/user/user.repository.ts
Labels: :sparkles: feature, :gear: backend

#130 fix: 오름차순으로 정렬되던걸 내림차순으로 수정
  backend/src/ranking/dto/ranking-user.dto.ts
  backend/src/user/user.service.ts
Labels: :lady_beetle: bug, :gear: backend

#133 Feature: ranking 컴포넌트 기술 스택 추가
  frontend/public/icons/default-language.svg
  frontend/src/apis/ranking.ts
  frontend/src/components/common/LanguageIcon/index.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/ranking.tsx
  frontend/src/type/common.ts
  frontend/src/type/response.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/mockData.ts
Labels: :sparkles: feature, :art: frontend

#138 Fix: pagination
  backend/libs/consts/index.ts
  backend/src/ranking/ranking.service.ts
Labels: :sparkles: feature, :gear: backend

#137 Feature: ranking 페이지 페이지네이션 추가
  frontend/src/apis/ranking.ts
  frontend/src/components/Pagination/Arrow.stories.tsx
  frontend/src/components/Pagination/Arrow.tsx
  frontend/src/components/Pagination/Pagination.stories.tsx
  frontend/src/components/Pagination/index.tsx
  frontend/src/components/common/LanguageIcon/index.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/profile/404.tsx
  frontend/src/pages/ranking.tsx
  frontend/src/utils/constants.ts
Labels: :sparkles: feature, :art: frontend

#139 fix: repositoryScore가 0점인 경우 언어에 불포함
  backend/src/user/user.service.ts
Labels: :sparkles: feature, :gear: backend

#141 CI: docker compose
  .github/workflows/build.yml
  .gitignore
  backend/.dockerignore
  backend/Dockerfile
  backend/docker-compose.yml
  backend/package.json
  backend/src/app.module.ts
Labels: :gear: backend, :package: ci/cd

#142 Feature: profile 페이지 추가
  frontend/public/icons/company.svg
  frontend/public/icons/cube/cube-small-mint.svg
  frontend/public/icons/fork.svg
  frontend/public/icons/link.svg
  frontend/public/icons/location.svg
  frontend/public/icons/organization.svg
  frontend/public/icons/people.svg
  frontend/public/icons/star.svg
  frontend/public/icons/username.svg
  frontend/src/apis/ranking.ts
  frontend/src/components/Header/index.tsx
  frontend/src/components/Profile/EXPbar/EXPbar.stories.tsx
  frontend/src/components/Profile/EXPbar/index.tsx
  frontend/src/components/Profile/PinnedRepository/index.tsx
  frontend/src/components/Profile/ProfileCard/index.tsx
  frontend/src/components/Profile/ProfileLabel/ProfileLabel.stories.tsx
  frontend/src/components/Profile/ProfileLabel/index.tsx
  frontend/src/components/Profile/index.ts
  frontend/src/components/common/CubeIcon/index.tsx
  frontend/src/components/common/Dropdown/Dropdown.stories.tsx
  frontend/src/components/common/Paper/Paper.stories.tsx
  frontend/src/components/common/Paper/index.tsx
  frontend/src/components/common/index.ts
  frontend/src/pages/profile/[username].tsx
  frontend/src/pages/ranking.tsx
  frontend/src/styles/theme.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/utils.ts
Labels: :sparkles: feature, :art: frontend

#144 Feature: commit history 컴포넌트 구현
  frontend/public/locales/en/profile.json
  frontend/public/locales/ko/profile.json
  frontend/src/components/Profile/CommitHistory/index.tsx
  frontend/src/components/Profile/EXPbar/index.tsx
  frontend/src/components/Profile/ProfileCard/index.tsx
  frontend/src/components/Profile/index.ts
  frontend/src/pages/profile/[username].tsx
  frontend/src/utils/constants.ts
Labels: :sparkles: feature, :art: frontend, :framed_picture: style

#145 Feature: 메인페이지 검색 기능 추가
  frontend/public/locales/en/404.json
  frontend/public/locales/ko/404.json
  frontend/src/apis/profile.ts
  frontend/src/pages/index.tsx
  frontend/src/pages/profile/404.tsx
  frontend/src/pages/profile/[username].tsx
Labels: :sparkles: feature, :art: frontend

#147 Fix: profile 버그 수정
  frontend/src/pages/profile/[username].tsx
  frontend/src/pages/ranking.tsx
Labels: :lady_beetle: bug, :art: frontend

#150 Feature: usedebounce
  frontend/src/components/common/Searchbar/Searchbar.stories.tsx
  frontend/src/components/common/Searchbar/index.tsx
  frontend/src/hooks/useDebounce.ts
  frontend/src/pages/about.tsx
Labels: :sparkles: feature, :art: frontend

#151 Fix: build 오류 수정
  frontend/next-i18next.config.js
  frontend/next.config.js
  frontend/package.json
Labels: :art: frontend

#152 Devrank 0.0.2 배포
  frontend/next-i18next.config.js
  frontend/next.config.js
  frontend/package.json
  frontend/public/locales/en/404.json
  frontend/public/locales/en/profile.json
  frontend/public/locales/ko/404.json
  frontend/public/locales/ko/profile.json
  frontend/src/apis/profile.ts
  frontend/src/components/Profile/CommitHistory/index.tsx
  frontend/src/components/Profile/EXPbar/index.tsx
  frontend/src/components/Profile/ProfileCard/index.tsx
  frontend/src/components/Profile/index.ts
  frontend/src/components/common/Searchbar/Searchbar.stories.tsx
  frontend/src/components/common/Searchbar/index.tsx
  frontend/src/hooks/useDebounce.ts
  frontend/src/pages/about.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/profile/404.tsx
  frontend/src/pages/profile/[username].tsx
  frontend/src/pages/ranking.tsx
  frontend/src/utils/constants.ts
Labels: :art: frontend

#153 Feature: profile api
  backend/src/auth/auth.controller.ts
  backend/src/ranking/dto/ranking-user.dto.ts
  backend/src/ranking/ranking.controller.ts
  backend/src/ranking/ranking.service.ts
  backend/src/user/dto/auto-complete.dto.ts
  backend/src/user/dto/history.dto.ts
  backend/src/user/dto/organization.dto.ts
  backend/src/user/dto/pinned-repository.dto.ts
  backend/src/user/dto/user.dto.ts
  backend/src/user/dto/user.profile.dto.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.repository.ts
  backend/src/user/user.schema.ts
  backend/src/user/user.service.ts
Labels: :sparkles: feature, :gear: backend, :hammer_and_wrench: refactor, ⚠️ API Change
